@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap&subset=cyrillic');
body{
  position: relative;
  z-index: 1;
  padding-top: 90px ;
}
.bg-white {
  background-color: #ffffff;
}

.bg-grey {
  background-color: #eff4f4;
}

//navbar
.navbar {
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  left:0;
  background-image: url("../img/header-bg.jpg");
  background-size: 100% 100%;
  padding: 25px 70px;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  box-shadow: 0 0.25em 7px rgba(122, 122, 122, 0.5);

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(159,234,221, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .nav-link {
    color: #393e6b !important;
    font-size: 16px;
  }

  .nav-link:hover {
    color: #ffffff !important;
  }
  .navbar-text .nav-item .nav-link:hover {
    color: #2cd3b8 !important;
  }

}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 13px;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 25px;
    background-color: #ffffff;
    background-image: none;
  }
  .navbar-toggler {
    position: fixed;
    top: 25px;
  }
  .navbar-text {
    margin-top: -15px !important;
  }
  .navbar-brand {
    margin: 0 auto;
  }
}

//navbar

.number-block {
  display: flex;
  flex-direction: row;

  div {
    margin-right: 90px;
  }
}

//section

.section {
  z-index: 1;
  padding: 80px 320px;
  font-family: 'Ubuntu', sans-serif;

  h2 {
    color: #393e6b;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  p {
    color: #74757b;
    font-size: 16px;
    font-weight: 400;
  }

  .aqua-text {
    color: #0da088;
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
  }

  .aqua-text:hover {
    text-decoration: none;
    color: #15c7aa;
  }

  .number-block {
    .aqua-text {
      padding-left: 40px;
      display: block;
    }
  }

  .number-text-1,
  .number-text-2 {
    position: relative;
    z-index: 1;
    font-size: 150px;
    color: #e9e9ed;
    font-weight: 700;
    padding-bottom: 40px;
    line-height: 150px;
    margin: 0;
  }

  .number-text-1:before {
    position: absolute;
    z-index: 2;
    content: '';
    width: 50px;
    height: 50px;
    background-image: url("../img/icons-sprite.png");
    background-position: 0 -150px;
    top: 65px;
    left: 65px;
  }

  .number-text-2:before {
    position: absolute;
    z-index: 2;
    content: '';
    width: 50px;
    height: 50px;
    background-image: url("../img/icons-sprite.png");
    background-position: -50px -150px;
    top: 70px;
    left: 60px;
  }

  .dashbord-ul {
    max-width: 830px;
  }

  ul {
    padding-inline-start: 15px;
    margin-bottom: 0;


    .aqua-text {
      font-size: 24px;
    }

    li {
      padding-bottom: 34px;
      color: #3b4269;
      padding-left: 15px;
    }

    li:last-child {
      padding-bottom: 0;
    }
  }

  .steps {
    list-style-type: none;
    padding: 45px 0 0 0;
    padding-bottom: 70px;

    li:nth-child(1) .steps-icon {
      background-position: 0 0;
    }

    li:nth-child(2) .steps-icon {
      background-position: -75px 0;
    }

    li:nth-child(3) .steps-icon {
      background-position: 0 -75px;
    }

    li:nth-child(4) .steps-icon {
      background-position: -75px -75px;
    }

    li:nth-child(5) .steps-icon {
      background-position: -150px 0;
    }

    li:nth-child(6) .steps-icon {
      background-position: -150px -75px;
    }

    li {
      padding-left: 0;

      .step {
        display: flex;
        align-items: center;

        .steps-icon {
          width: 75px;
          height: 75px;
          background-image: url("../img/icons-sprite.png");
          margin-right: 35px;
        }

        a {
          color: #393e6b;
          font-size: 18px;
          font-family: 'Ubuntu';
          font-weight: 400;
        }

        a:hover {
          color: #2cd3b8;
          text-decoration: none;
        }

        span {
          word-wrap: normal;
          font-size: 24px;
          font-weight: 700;
          padding-right: 5px;
        }
      }

      @media (max-width: 765px) {
        a {
          width: 55%;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .section {
    padding: 70px 50px;
  }
  .button {
    margin-bottom: 25px;
  }
  .number-block {
    margin-left: -15px;

    div {
      margin-right: -5px;
    }
  }
}

@media (max-width: 767px) {
  .button {
    width: 100%;
  }
}


@media (max-width: 320px) {
  .section {
    padding: 70px 30px;
  }

}

///section
.integration {
  h6 {
    color: #393e6b;
    font-size: 18px;
    font-weight: 400;
    width: 700px;
  }

  .channels {
    list-style-type: none;
    padding: 45px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1100px;

    li:nth-child(1) .channel-icon {
      background-position: -225px -120px;
    }

    li:nth-child(2) .channel-icon {
      background-position: -225px -40px;
    }

    li:nth-child(3) .channel-icon {
      background-position: -140px -150px;
    }

    li:nth-child(4) .channel-icon {
      background-position: -225px -80px;
    }

    li:nth-child(5) .channel-icon {
      background-position: -100px -150px;
    }

    li:nth-child(6) .channel-icon {
      background-position: -225px 0;
    }

    li:nth-child(7) .channel-icon {
      background-position: -180px -150px;
    }

    li {
      padding-left: 0;
      width: 33.33%;

      .channel {
        display: flex;
        align-items: center;

        .channel-icon {
          width: 40px;
          height: 40px;
          background-image: url("../img/icons-sprite.png");
          margin-right: 35px;
        }

        .aqua-text {
          color: #0da088;
          font-size: 18px;
          font-weight: 400;
          text-decoration: underline;
        }

        .aqua-text:hover {
          text-decoration: none;
          color: #15c7aa;
        }

        span {
          word-wrap: normal;
          font-size: 24px;
          font-weight: 700;
          padding-right: 5px;
        }
      }

      @media (max-width: 765px) {
        a {
          width: 55%;
        }
      }

    }

    @media (max-width: 1024px) {
      li {
        width: 100%;
      }
    }
  }

  @media (max-width: 1024px) {
    h6 {
      width: 100%;
    }
  }
}

//footer

.footer{
  z-index: 1;
  background-color: #393e6b;
  .footer-big {
    padding: 60px 70px;
    display: flex;
    flex-direction: row;

    .logo-block {
      width: 20%;
      color: #bfc1d3;
      font-size: 14px;

      img {
        padding-bottom: 25px;
      }
    }

    .phone-block {
      width: 50%;

      span {
        width: 29px;
        height: 29px;
        background-image: url("../img/small-icons.png");
        background-position: 0 0;
        display: inline-block;
      }

      h5 {
        display: flex;
        align-items: center;
        color: #ffffff;
        font-size: 24px;
        padding-bottom: 10px;
      }

      h6 {
        color: #ffffff;
        font-size: 20px;
      }

      h5:hover,
      h6:hover {
        color: #15c7aa;
        cursor: pointer;
      }

      p {
        font-size: 16px;
        color: #c1c0c6;
        padding-bottom: 10px;
      }
    }

    .email-block {
      font-size: 16px;

      .text-white {
        color: #ffffff;
        padding-bottom: 10px;
        margin-bottom: 0;
        font-weight: 500;
      }

      .text-grey {
        color: #c0c2d3;
        padding-top: 5px;
      }

      .socials {
        display: flex;
        flex-direction: row;

        a {
          background-image: url("../img/small-icons.png");
          margin-right: 25px;
        }

        .vk-social {
          background-position: 0 -29px;
          width: 25px;
          height: 14px;
        }

        .fb-social {
          background-position: -48px -17px;
          width: 9px;
          height: 18px;
        }

        .tw-social {
          background-position: -48px 0;
          width: 19px;
          height: 17px;
        }

        .sk-social {
          background-position: -29px 0;
          width: 19px;
          height: 19px;
        }
      }
    }
  }
  .footer-mobile{
    color: #f0f5f5;
    font-size: 16px;
    padding: 60px 0 30px 60px;
  }
  @media (max-width: 1024px) {
    .footer-big{
      display: none;
    }
    .footer-mobile{
      display: block;
    }
  }
  @media (min-width: 1024px) {
    .footer-big{
      display: flex;
    }
    .footer-mobile{
      display: none;
    }
  }
}

///footer
//button
.button {
  min-width: 240px;
  padding: 10px;
  border-radius: 45px;
  border: none;
  margin-right: 20px;

  a {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
  }

  transition: background-color 0.4s;
}

.button:hover {
  a {
    text-decoration: none;
    color: #ffffff;
  }
}

.button-chat{
  bottom: 3px;
  right: 30px;
  z-index: 10;
  position: fixed;
}
.button-chat:hover{
  transform: scale(1.2);
  transition: 0.4s;
}
.b-aqua {
  background-color: #2cd3b8;
  border: 1px solid #2cd3b8;

}

.b-aqua:hover {
  background-color: #37a291;
}

.b-transparent {
  background-color: transparent;
  border: 1px solid #393e6b;

  a {
    color: #393e6b;
  }
}

.b-transparent:hover {
  background-color: #393e6b;

  a {
    color: #ffffff;
  }
}

.b-violet {
  background-color: #393e6b;
  border: 1px solid #393e6b;
  transition: background-color 0.6s;

  a {
    color: #ffffff;
  }
}

.b-violet:hover {
  background-color: transparent;

  a {
    color: #393e6b;
  }

}

//button



