@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap");
@media (min-width: 1230px) {
  .container-basket {
    max-width: 1000px !important;
  }
}
.bx_ordercart_order_table_container {
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: 1px solid #ECECEC !important;
}
.bx_ordercart_order_table_container .bx_ordercart_photo_container {
  border: 1px solid #F8F8F8 !important;
}
.bx_ordercart_order_table_container .bx_ordercart_itemtitle {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  color: #212121;
  padding-bottom: 5px !important;
}
.bx_ordercart_order_table_container .bx_ordercart_itemart {
  font-family: "Roboto", sans-serif !important;
  font-weight: 400 !important;
  font-size: 10px !important;
  color: #757575 !important;
  line-height: 13px;
}
.bx_ordercart_order_table_container tbody td.price {
  padding-top: 30px !important;
  font-family: "Roboto", sans-serif !important;
}
.bx_ordercart_order_table_container tbody td.price .current_price {
  font-weight: 300 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #212121 !important;
}
.bx_ordercart_order_table_container tbody td.price .old_price {
  font-weight: 300 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #DF3F3F !important;
}
.bx_ordercart_order_table_container tbody td {
  padding-top: 30px !important;
}
.bx_ordercart_order_table_container tbody td.control {
  width: 35px;
}
.bx_ordercart_order_table_container tbody td.custom input {
  padding-left: 10px;
  max-width: 60px !important;
  border-top: 1px solid #F8F8F8 !important;
  border-left: 1px solid #F8F8F8 !important;
  border-bottom: 1px solid #F8F8F8 !important;
  border-right: none !important;
  height: 30px !important;
}
.bx_ordercart_order_table_container tbody td.custom .basket_quantity_control {
  padding-right: 5px;
  height: 30px !important;
  border-top: 1px solid #F8F8F8 !important;
  border-bottom: 1px solid #F8F8F8 !important;
  border-right: 1px solid #F8F8F8 !important;
}
.bx_ordercart_order_table_container td.item {
  width: 190px !important;
}
.bx_ordercart_order_table_container td.itemphoto {
  width: 100px !important;
  height: 80px !important;
  padding-top: 30px !important;
}
.bx_ordercart_order_table_container td.custom {
  font-family: "Roboto", sans-serif !important;
  font-weight: 300 !important;
  font-size: 11px !important;
}
.bx_ordercart_order_table_container .sum {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #212121;
}
.bx_ordercart_order_table_container #basket_items {
  margin-bottom: 40px !important;
}
.bx_ordercart_order_table_container #basket_items tbody .custom {
  font-size: 14px !important;
}
.bx_ordercart_order_table_container #basket_items thead {
  border-bottom: 2px solid #ECECEC;
}
.bx_ordercart_order_table_container #basket_items thead td {
  background-color: #ffffff !important;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 11px;
}
.bx_ordercart_order_table_container .button-delete:hover {
  transform: scale(1.2);
}

.basket_quantity_control a {
  border: none;
}

.plus {
  margin-top: 2px;
  background-image: url("plus.png") !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  margin-bottom: 5px;
}

.minus {
  background-image: url("minus.png") !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: 0 0 !important;
}

.bx_ordercart .bx_ordercart_order_table_container table td.margin {
  display: none;
}

.LeftBlock {
  width: 740px !important;
}

.RightBlock {
  padding: 0 0 0 30px !important;
  width: 220px !important;
  margin-left: 20px !important;
}

.bold {
  font-weight: 700 !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

.bread-crumbs__item {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-size: 11px;
  font-weight: 400;
}

.green-text {
  color: #14A807;
}

h1 {
  font-family: "Roboto", sans-serif !important;
  color: black;
  font-size: 26px !important;
  font-weight: 700 !important;
  padding-bottom: 5px !important;
}

h3 {
  font-family: "Roboto", sans-serif !important;
  font-weight: 300 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  display: block !important;
  margin: 0 !important;
  padding: 25px 0 !important;
  text-align: center !important;
}

.red-text {
  color: #DF3F3F;
}

.RightBlock {
  margin-left: 20px;
  padding-bottom: 50px !important;
  box-shadow: 0 0 30px rgba(100, 100, 100, 0.25);
  width: 220px !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
  font-size: 12px !important;
  line-height: 21px !important;
  color: #212121 !important;
}
.RightBlock h4 {
  font-family: "Roboto", sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 13px !important;
  line-height: 18px !important;
  color: #757575;
  padding: 25px 0 15px 0 !important;
}

.warning-block {
  padding: 30px 0;
  text-align: center;
  font-family: "Roboto", sans-serif !important;
  font-weight: 300 !important;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  background-color: #DF3F3F;
  color: #ffffff;
}
.warning-block p {
  width: 100%;
}

/*# sourceMappingURL=basket-style.css.map */
