@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap&subset=cyrillic');

$black-grey: #333333;
$orange: #d34f2a;
$black-orange: #b04a2e;
$white: #ffffff;
$light-grey: #f7f7f7;

body {
  margin: 0;
  color: $black-grey;
  width: 100%;
  height: 100%;
}

button {
  background-color: transparent;
  padding: 20px 25px;
  font-size: 16px;
  font-family: 'Gotham Pro Medium', sans-serif;
}

.desktop-header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;

  .menu {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

    li {
      display: inline-block;
      word-wrap: normal;
      margin-left: 20px;
      padding: 20px 0;
      font-size: 16px;
      font-family: 'Gotham Pro Medium', sans-serif;
      color: $black-grey;

      a {
        color: inherit;
      }
    }

    li:last-child {
      padding: 0;

    }
  }
}

.logo {
  font-family: 'PT Sans', sans-serif !important;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 4px;
}

.mobile-header {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;

  .logos {
    display: flex;
    flex-direction: row;

    a {
      width: 100%;
      height: 100%;
      display: block;

      img {
        width: 100%;
        height: 100%;
      }
    }

    a:first-child {
      margin-right: 20px;
      position: relative;
    }

    a:first-child:before {
      position: absolute;
      content: '';
      width: 1px;
      height: 32px;
      top: 0;
      right: -20px;
      background-color: #606060;
    }

    a:nth-child(2) {
      margin-left: 20px;

    }
  }

  .menu {
    display: flex;
    width: auto;

    a {
      display: inline-block;
    }

    .phone-logo {
      margin: auto 25px auto 0;
      display: block;
      width: auto;
      height: 28px;
    }
  }

  .navbar {
    padding: 0 !important;
    width: 100%;

    .navbar-toggler-icon {
      background-image: url(../img/toggle-icon.png);
    }

    .navbar-toggler {
      border: none;
      padding: 0;
      margin: 0;
    }

    .navbar-nav {
      font-size: 16px;
      font-family: 'Gotham Pro Medium', sans-serif;
      color: $black-grey;

      a {
        color: inherit;
        padding: 5px 0;
      }
    }
  }
}

.modal-content {
  border-radius: 0 !important;
  padding: 40px 30px;

  h3 {
    font-family: 'Noah Bold', sans-serif;
    font-size: 24px;
    color: $black-grey;
    text-align: center;
  }

  form {
    width: 100%;

    input {
      width: 100%;
      margin-bottom: 20px;
      padding: 15px 10px;
      border: 2px solid #cccccc;
      border-radius: 5px;

      ::placeholder {
        font-family: 'Gotham Pro', sans-serif !important;
        font-size: 16px;
        color: #cccccc;
      }
    }
  }

  textarea:focus, input:focus {
    outline: none;
    border: 2px solid #999999;

    ::placeholder {
      color: #333333;
    }
  }

  .orange_btn {
    border-radius: 5px;
    text-transform: uppercase;
    padding: 16px 0;
  }
}

.outlined_orange_btn {
  border: 1px solid $orange;
  color: $orange;
}

.outlined_orange_btn:hover {
  border: 1px solid $black-orange;
  color: $black-orange;
}

.orange_btn {
  border: 1px solid $orange;
  color: $white;
  background-color: $orange;
}

.orange_btn:hover {
  border: 1px solid $black-orange;
  background-color: $black-orange;
}

.orange-text {
  color: $orange;
}

.promo {
  display: block;

  #carouselExampleCaptions {
    position: relative;
    z-index: 1;

    .carousel-item {
      //img {
      //  height: 720px;
      //}
      min-height: 720px;
    }

    .carousel-item-1 {
      background: url("../img/promo-1.jpg") no-repeat;
      background-size: cover;
    }

    .carousel-item-2 {
      background: url("../img/promo-1.jpg") no-repeat;
      background-size: cover;
    }

    .carousel-item-3 {
      background: url("../img/promo-1.jpg") no-repeat;
      background-size: cover;
    }

    .carousel-item-4 {
      background: url("../img/promo-1.jpg") no-repeat;
      background-size: cover;
    }

    .carousel-caption {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 60px 0 0 20px;
      margin: 0 auto;
      width: 1020px;
      text-align: left;
      display: flex !important;
      flex-direction: row;

      .carousel-left-block {
        width: 96%;
      }

      p {
        color: $black-grey;
        font-family: 'Gotham Pro', sans-serif;
        font-size: 16px;
        margin-bottom: 10px;
      }

      h1 {
        font-size: 64px;
        font-family: 'Noah Bold', sans-serif;
        color: $black-grey;
        max-width: 60%;
        margin-bottom: 20px;
      }

      .socials {
        display: flex;
        flex-direction: column;
        //position: absolute;
        //top: 80px;
        //right: -20px;
        //z-index: 5;
        width: 3%;
        margin: 0;
        justify-content: flex-start;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 25px;
          height: 25px;
          border: 1px solid $black-grey;
          border-radius: 100%;
          margin-bottom: 15px;

          .fa {
            text-align: center;
            color: $black-grey;
            font-size: 16px;
          }
        }

        a:hover {
          text-decoration: none;
          cursor: pointer;
          color: $white;
          border-color: $white;

          .fa {
            color: $white;
          }
        }
      }

    }
  }

  .promo-carousel-control {
    background-color: #333333;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;
    height: 120px;
    width: 44%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .control-number {
      margin-right: 40px;
      display: flex;
      align-items: center;
      font-size: 24px;
      font-family: 'Gotham Pro', sans-serif;
      color: #666666;

      #total_slider {
        margin-left: 15px;
      }

      #current_slider {
        position: relative;
        margin-right: 15px;
        color: $white;
        font-family: 'Gotham Pro', sans-serif;
        font-weight: bold;
        font-size: 30px;
      }

      #current_slider:before {
        position: absolute;
        content: '';
        width: 1px;
        height: 32px;
        top: 5px;
        right: -15px;
        background-color: #606060;
      }
    }

    .carousel-indicators {
      position: relative;
      display: flex;
      align-items: center;
      margin: 0 70px 0 0;

      li {
        width: 8px;
        height: 8px;
        border-radius: 100%;
      }

      li.active {
        width: 12px;
        height: 12px;
      }
    }

    .carousel-control-nex,
    .carousel-control-pre {
      position: relative;
      top: 0;
      bottom: 0;
      z-index: 1;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: #fff;
      text-align: center;
      transition: opacity .15s ease;
    }

    .carousel-control-nex {
      right: 0;
      margin-right: 40px;

      .carousel-control-next-icon {
        background: url("../img/next.png") 100% 100% no-repeat;
      }
    }

    .carousel-control-pre {
      right: 0;
      margin-right: 40px;

      .carousel-control-prev-icon {
        background: url("../img/prev.png") 100% 100% no-repeat;
      }
    }
  }

  .promo-small-carousel {
    .bd-example{
      height: 281px;
    }
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $white;
    height: 281px;
    width: 35%;

    #carouselExampleCaptionsSmall {
      height: 281px;
      .carousel-inner{
        height: 100%;
      }
      .carousel-caption {
        padding: 50px 0 50px 50px;
        display: flex;
        flex-direction: column;

        p {
          text-transform: uppercase;
          font-size: 12px;
          color: #666666;
          font-family: 'Gotham Pro', sans-serif;
          margin-bottom: 20px;
        }
        a:hover{
          text-decoration: none;
        }
        a {
          max-width: 300px;
          position: relative;

          img {
            position: absolute;
            top: 0;
            right: 8%;
          }

          .project-text {
            text-align: right;
          }
        }


        h5 {
          position: relative;
          color: $black-grey;
          font-family: 'Gotham Pro Medium', sans-serif;
          font-size: 24px;
          margin-bottom: 25px;
          max-width: 300px;
        }

        h5:before {
          content: '';
          bottom: -40px;
          left: 0;
          position: absolute;
          height: 2px;
          width: 78px;
          background-color: #cd406b;
        }
      }
      .carousel-control-prev{
        z-index: 10;
        left: 250px;
        top: -90px;
        height: 280px;
      }
      .carousel-control-next{
        z-index: 10;
        left: 300px;
        top: -90px;
        height: 280px;
      }
      .carousel-control-prev-icon{
        background: url("../img/prev.png") 100% 100% no-repeat;
      }
      .carousel-control-next-icon{
        background: url("../img/next.png") 100% 100% no-repeat;
      }
    }
  }
}


@media screen and (max-width: 1024px) {
  #carouselExampleCaptionsSmall {
    .carousel-control-prev {
      display: none !important;
    }

    .carousel-control-next {
      display: none !important;
    }
  }
  .socials {
    display: none !important;
  }
  .promo-small-carousel {
    .carousel-caption {
      padding: 50px 0 0 40px !important;
    }
  }
  .carousel-item {
    //img{
    //  width:auto;
    //  height: 100%;
    //  overflow: hidden;
    //}
  }
  .desktop-header {
    .logo {
      display: none !important;
    }

    li {
      margin-left: 5px !important;

    }
  }
  //.carousel-indicators{
  //  display: none !important;
  //}
}

@media screen and (max-device-width: 990px) {
  #carouselExampleCaptionsSmall {
    .carousel-caption {
      h5{
        max-width: 250px !important;
      }
      a {
        .project-text {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-device-width: 900px) {
      .carousel-indicators {
    display: none !important;
  }
  #carouselExampleCaptionsSmall {
    .carousel-caption {

      a {

        img{
          right: 18% !important;
        }
      }
    }
  }

  .promo-small-carousel {
    .carousel-caption {
      padding: 50px 0 0 30px !important;
    }
  }
  .promo-carousel-control {
    .control-number {
      display: flex;
      order: 2;
    }

    .carousel-control-nex {
      display: flex;
      order: 3;
    }

    .carousel-control-pre {
      display: flex;
      order: 1;
    }
  }
}

@media screen and (max-device-width: 768px) {
  #carouselExampleCaptionsSmall {
    .carousel-caption {
      h5{
        font-size: 18px !important;
        max-width: 150px !important;
      }
      a {
        img {
          right: 40% !important;
        }
      }
    }
  }
}

@media screen and (max-device-width: 768px) {
  .desktop-header {
    display: none !important;
  }
  .promo-carousel-control {
    min-width: 170px !important;

    .control-number {
      margin-right: 10px !important;
    }

    .carousel-control-pre {
      margin-right: 10px !important;
    }

    .carousel-control-nex {
      margin-right: 10px !important;
    }
  }
}

@media screen and (max-device-width: 600px) {

  #carouselExampleCaptionsSmall {
    .carousel-caption {
      padding: 50px 0 0 20px !important;
      h5{
        font-size: 18px !important;
        max-width: 150px !important;
      }
      a {
        img {
          right: 50% !important;
        }
      }
    }
  }
  .carousel-left-block {
    p {
      max-width: 400px !important;
    }

    h1 {
      font-size: 40px !important;
      max-width: 400px !important;
    }
  }
  .carousel-item {
    min-height: 620px !important;
  }
  .promo-small-carousel {
    width: 40% !important;
  }
}

@media screen and (max-device-width: 500px) {
  #carouselExampleCaptionsSmall {
    .carousel-caption {
      h5 {
        font-size: 18px !important;
        max-width: 150px !important;
      }
      h5:before{
        display: none;
      }

      a {
        img {
          right: 55% !important;
        }
      }
    }
  }
}

@media screen and (max-device-width: 400px) {
  #carouselExampleCaptionsSmall {
    .carousel-caption {
      padding: 50px 0 0 5px !important;
      h5 {
        font-size: 13px !important;
        max-width: 120px !important;
      }

      a {
        img {
          right: 65% !important;
        }
      }
    }
  }

  .carousel-left-block {
    p {
      max-width: 300px !important;
    }

    h1 {
      font-size: 30px !important;
      max-width: 300px !important;
    }
  }
  .carousel-item {
    min-height: 520px !important;
  }
  .promo-small-carousel {
    height: 238px !important;
    width: 35% !important;
  }
}

@media screen and (min-device-width: 990px) {
  #carouselExampleCaptionsSmall {
    .carousel-caption {
      a {
        img {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-device-width: 769px) {
  .mobile-header {
    display: none;
  }
}


@font-face {
  font-family: "Gotham Pro Medium";
  src: url("../fonts/Gotham_Pro_Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/Gotham_Pro.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Noah Bold";
  src: url("../fonts/Noah_Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}