@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap&subset=cyrillic");
.about-company .texts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.about-company .texts .left-text {
  max-width: 450px;
}
.about-company .texts .left-text a {
  color: #d34f2a !important;
  text-decoration: none;
  font-family: "Gotham Pro Medium", sans-serif !important;
}
.about-company .texts .left-text a:hover {
  text-decoration: none;
  color: #b04a2e !important;
}
.about-company .texts .right-icons {
  margin-left: 10px;
  max-width: 560px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-company .texts .right-icons .text {
  width: 210px;
}
.about-company .texts .right-icons .text p {
  max-width: 210px;
}
.about-company .texts .right-icons .text img {
  margin-bottom: 10px;
}
.about-company .texts .right-icons .text h3 {
  padding-bottom: 10px;
  margin: 0;
}

.about-map {
  min-height: 300px;
  position: relative;
}
.about-map .map {
  min-height: 300px;
  overflow-x: hidden;
  width: 100%;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
}
.about-map .addres {
  position: absolute;
  top: 50px;
  left: 20%;
  z-index: 5;
  width: 460px;
  height: 180px;
  background-color: #d34f2a;
  padding: 30px 0 30px 20px;
}
.about-map .addres p {
  text-transform: uppercase;
  font-size: 18px;
  color: #ffffff;
  font-family: "Gotham Pro Medium", sans-serif;
  line-height: 30px;
}

.about-projects .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about-projects .home-gallery-desktop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 160px;
}
.about-projects .home-gallery-desktop .gallery-block {
  width: 25%;
  position: relative;
  z-index: 1;
}
.about-projects .home-gallery-desktop .gallery-block p {
  z-index: 5;
  top: 25px;
  left: 25px;
  position: absolute;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  font-family: "Gotham Pro Medium", sans-serif !important;
  font-weight: 300 !important;
}
.about-projects .home-gallery-desktop .gallery-block img {
  width: 100%;
  filter: brightness(40%);
}
.about-projects .home-gallery-desktop .gallery-block .loupe {
  width: 56px;
  height: 56px;
  position: absolute;
  z-index: 5;
  top: 45%;
  left: 40%;
  display: none;
}
.about-projects .home-gallery-desktop .gallery-block .loupe:hover {
  transform: scale(1.2);
}
.about-projects .home-gallery-desktop .gallery-block:hover p {
  display: none;
}
.about-projects .home-gallery-desktop .gallery-block:hover .loupe {
  display: block;
  transition-duration: 0.7s;
}
.about-projects .home-gallery-desktop .gallery-block:hover img {
  filter: none;
  transition-duration: 0.7s;
}
.about-projects .home-gallery-mobile {
  display: none;
}
.about-projects .home-gallery-mobile #carousel_gallery_home {
  display: flex !important;
  flex-direction: row !important;
  width: 100% !important;
  flex-wrap: wrap;
}
.about-projects .home-gallery-mobile #carousel_gallery_home .carousel-inner {
  width: 90% !important;
}
.about-projects .home-gallery-mobile #carousel_gallery_home .carousel-inner .carousel-caption {
  display: block !important;
  top: 20px;
  left: 20px;
  right: 0;
  bottom: 0;
}
.about-projects .home-gallery-mobile #carousel_gallery_home .carousel-inner .carousel-caption p {
  text-align: left !important;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  font-family: "Gotham Pro Medium", sans-serif !important;
  font-weight: 300 !important;
}
.about-projects .home-gallery-mobile #carousel_gallery_home .carousel-control-nex {
  display: flex;
  align-items: center;
  position: relative;
  width: 5%;
}
.about-projects .home-gallery-mobile #carousel_gallery_home .carousel-control-nex .carousel-control-next-icon {
  background: url("../img/next.png") 100% 100% no-repeat;
  background-position: center center;
}
.about-projects .home-gallery-mobile #carousel_gallery_home .carousel-control-pre {
  display: flex;
  align-items: center;
  position: relative;
  width: 5%;
}
.about-projects .home-gallery-mobile #carousel_gallery_home .carousel-control-pre .carousel-control-prev-icon {
  background: url("../img/prev.png") 100% 100% no-repeat;
  background-position: center center;
}
.about-projects .home-gallery-mobile #carousel_gallery_home .carousel-indicators {
  position: relative;
  width: 100%;
  margin: 60px 0 20px 0;
}
.about-projects .home-gallery-mobile #carousel_gallery_home .carousel-indicators li {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #666666;
  opacity: 1;
  box-sizing: border-box !important;
  border: none !important;
}
.about-projects .home-gallery-mobile #carousel_gallery_home .carousel-indicators li.active {
  width: 12px;
  height: 12px;
  background: #d34f2a;
}

.about-services .texts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.about-services .texts .left-text,
.about-services .texts .right-text {
  max-width: 450px;
  margin-left: 10px;
}
.about-services .texts .text {
  margin-bottom: 40px;
}

.about-questions {
  background-color: #393939 !important;
}
.about-questions h2 {
  padding-bottom: 20px !important;
}
.about-questions p {
  text-align: center;
  color: #fafafa !important;
  font-family: "Gotham Pro", sans-serif !important;
  padding-bottom: 40px !important;
}
.about-questions form {
  width: 90%;
  padding-bottom: 50px;
  margin: 0 auto 0 auto !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.about-questions form input {
  width: 360px;
  margin-right: 30px;
  margin-bottom: 20px;
  padding: 20px 10px 20px 20px;
  border: 2px solid #cccccc;
  border-radius: 5px;
}
.about-questions form input ::placeholder {
  font-family: "Gotham Pro", sans-serif !important;
  font-size: 16px;
  color: #cccccc;
}
.about-questions form button {
  height: 68px;
  width: 200px;
}

body {
  margin: 0;
  color: #333333;
  width: 100%;
  height: 100%;
  background-color: #fafafa !important;
}

.breadcrumbs ul {
  padding-left: 0;
  margin: 0;
}
.breadcrumbs ul li {
  list-style: none;
}
.breadcrumbs ul li a {
  color: #656565;
  font-size: 16px;
  font-family: "Gotham Pro Light", sans-serif !important;
}
.breadcrumbs ul li a:hover {
  color: #333333;
  text-decoration: none;
}

button {
  background-color: transparent;
  padding: 20px 25px;
  font-size: 16px;
  font-family: "Gotham Pro Medium", sans-serif;
}

.container {
  width: 1150px;
  margin: 0 auto;
  padding: 100px 0 0 0 !important;
}

.contacts {
  display: flex;
  flex-direction: row;
}
.contacts .left-block {
  width: 50%;
  background-image: url("../img/black-map.jpg");
  background-position: right;
  background-size: cover;
}
.contacts .right-block {
  width: 50%;
  padding: 120px 0 120px 90px;
  background-color: #d34f2a;
}
.contacts .right-block p {
  padding-left: 30px;
  text-transform: uppercase;
  font-family: "Gotham Pro", sans-serif !important;
  color: #ffffff;
}
.contacts .right-block p a {
  color: inherit;
}
.contacts .right-block p a:hover {
  text-decoration: none;
}
.contacts .right-block span {
  margin-right: 10px;
  font-size: 18px;
}

.copyright-block {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.desktop-header {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.desktop-header .menu {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.desktop-header .menu li {
  display: inline-block;
  word-wrap: normal;
  margin-left: 20px;
  padding: 20px 0;
  font-size: 16px;
  font-family: "Gotham Pro Medium", sans-serif;
  color: #333333;
}
.desktop-header .menu li a {
  color: inherit;
}
.desktop-header .menu li:last-child {
  padding: 0;
}

.footer {
  padding-bottom: 50px;
  background-color: #000000;
}
.footer .container {
  padding-top: 50px !important;
}
.footer .menu {
  padding: 0 0 10px 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer .menu li {
  display: inline-block;
  word-wrap: normal;
  margin-left: 17px;
  padding: 20px 0;
  font-size: 16px;
  font-family: "Gotham Pro Medium", sans-serif;
  color: #ffffff;
}
.footer .menu li a {
  color: inherit;
}
.footer .menu li:last-child {
  padding: 0;
}
.footer p {
  margin-left: 40px;
  color: #dfdfdf;
  font-size: 14px !important;
  font-family: "Gotham Pro", sans-serif !important;
}
.footer p a {
  color: inherit;
  text-decoration: underline !important;
  text-decoration-color: #404040;
}

.form-text {
  text-align: center;
  font-size: 14px;
  font-family: "Gotham Pro", sans-serif;
  padding-top: 20px;
}

.grey-button {
  border: 2px solid #606060;
  color: #606060;
  font-family: "Gotham Pro Medium", sans-serif;
  margin: 0 auto;
}

h1 {
  font-size: 64px !important;
  font-family: "Noah Bold", sans-serif;
  color: #333333;
  padding: 40px 0 40px 0;
  margin: 0 !important;
}

h2 {
  padding: 50px 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px !important;
  font-family: "Gotham Pro Medium", sans-serif !important;
}

h3 {
  text-transform: uppercase;
  font-size: 18px !important;
  font-family: "Gotham Pro Medium", sans-serif !important;
  padding-bottom: 20px;
}

h5 {
  font-size: 16px !important;
  text-transform: uppercase;
  font-family: "Gotham Pro Medium", sans-serif !important;
  padding: 10px 0;
  margin: 0;
}

.licenses-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.licenses-block .left-block {
  width: 50%;
  padding-left: 20%;
}
.licenses-block .left-block p {
  max-width: 80%;
}
.licenses-block .right-block {
  width: 50%;
  padding: 45px 0 45px 45px;
  height: 800px;
  background-color: #d34f2a;
}
.licenses-block .right-block .bd-example {
  max-width: 450px;
}
.licenses-block .right-block .bd-example #carouselLicenses .carousel-indicators {
  display: none !important;
}
.licenses-block .right-block .bd-example #carouselLicenses .carousel-item {
  position: relative;
  z-index: 0;
}
.licenses-block .right-block .bd-example #carouselLicenses .carousel-item img {
  width: 100%;
  height: 100%;
}
.licenses-block .right-block .bd-example #carouselLicenses .carousel-item .carousel-loupe {
  position: absolute;
  z-index: 5;
  width: 56px;
  height: 56px;
  left: 45%;
  top: 45%;
}
.licenses-block .right-block .bd-example #carouselLicenses .carousel-item .carousel-loupe:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}
.licenses-block .right-block .bd-example #carouselLicenses .carousel-control-next,
.licenses-block .right-block .bd-example #carouselLicenses .carousel-control-prev {
  opacity: 1;
}
.licenses-block .right-block .bd-example #carouselLicenses .carousel-control-prev-icon {
  background: url("../img/prev-orange.png") 100% 100% no-repeat;
  width: 56px;
  height: 56px;
}
.licenses-block .right-block .bd-example #carouselLicenses .carousel-control-next-icon {
  background: url("../img/next-orange.png") 100% 100% no-repeat;
  width: 56px;
  height: 56px;
}

.logo {
  font-family: "PT Sans", sans-serif !important;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 4px;
}

.mini-header .container {
  padding-top: 80px !important;
}

.mobile-header {
  background-color: #ffffff;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.mobile-header .logos {
  display: flex;
  flex-direction: row;
}
.mobile-header .logos a {
  width: 100%;
  height: 100%;
  display: block;
}
.mobile-header .logos a img {
  width: 100%;
  height: 100%;
}
.mobile-header .logos a:first-child {
  margin-right: 20px;
  position: relative;
}
.mobile-header .logos a:first-child:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 32px;
  top: 0;
  right: -20px;
  background-color: #606060;
}
.mobile-header .logos a:nth-child(2) {
  margin-left: 20px;
}
.mobile-header .menu {
  display: flex;
  width: auto;
}
.mobile-header .menu a {
  display: inline-block;
}
.mobile-header .menu .phone-logo {
  margin: auto 25px auto 0;
  display: block;
  width: auto;
  height: 28px;
}
.mobile-header .navbar {
  padding: 0 !important;
  width: 100%;
}
.mobile-header .navbar .navbar-toggler-icon {
  background-image: url(../img/toggle-icon.png);
}
.mobile-header .navbar .navbar-toggler {
  border: none;
  padding: 0;
  margin: 0;
}
.mobile-header .navbar .navbar-nav {
  font-size: 16px;
  font-family: "Gotham Pro Medium", sans-serif;
  color: #333333;
}
.mobile-header .navbar .navbar-nav a {
  color: inherit;
  padding: 5px 0;
}

.modal-content {
  border-radius: 0 !important;
  padding: 40px 30px;
}
.modal-content h3 {
  font-family: "Noah Bold", sans-serif;
  font-size: 24px;
  color: #333333;
  text-align: center;
}
.modal-content form {
  width: 100%;
}
.modal-content form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 10px;
  border: 2px solid #cccccc;
  border-radius: 5px;
}
.modal-content form input ::placeholder {
  font-family: "Gotham Pro", sans-serif !important;
  font-size: 16px;
  color: #cccccc;
}
.modal-content textarea:focus, .modal-content input:focus {
  outline: none;
  border: 2px solid #999999;
}
.modal-content textarea:focus ::placeholder, .modal-content input:focus ::placeholder {
  color: #333333;
}
.modal-content .orange_btn {
  border-radius: 5px;
  text-transform: uppercase;
  padding: 16px 0;
}

.outlined_orange_btn {
  border: 1px solid #d34f2a;
  color: #d34f2a;
}

.outlined_orange_btn:hover {
  border: 1px solid #b04a2e;
  color: #b04a2e;
}

.orange_btn {
  border: 1px solid #d34f2a;
  color: #ffffff;
  background-color: #d34f2a;
}

.orange_btn:hover {
  border: 1px solid #b04a2e;
  background-color: #b04a2e;
}

.orange-text {
  color: #d34f2a;
}

.orange-link {
  color: #d34f2a;
  text-decoration: underline;
}

.orange-link:hover {
  color: #b04a2e;
}

.orange-underline {
  border-bottom: 2px solid #d34f2a;
}

p {
  font-family: "Gotham Pro", sans-serif;
  font-size: 16px;
  color: #606060;
}

.promo {
  display: block;
}
.promo #carouselExampleCaptions {
  position: relative;
  z-index: 1;
}
.promo #carouselExampleCaptions .carousel-item {
  min-height: 720px;
}
.promo #carouselExampleCaptions .carousel-item-1 {
  background-image: url("../img/promo-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.promo #carouselExampleCaptions .carousel-item-2 {
  background-image: url("../img/promo-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.promo #carouselExampleCaptions .carousel-item-3 {
  background-image: url("../img/promo-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.promo #carouselExampleCaptions .carousel-item-4 {
  background-image: url("../img/promo-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.promo #carouselExampleCaptions .carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 60px 0 0 20px;
  margin: 0 auto;
  width: 1020px;
  text-align: left;
  display: flex !important;
  flex-direction: row;
}
.promo #carouselExampleCaptions .carousel-caption .carousel-left-block {
  width: 96%;
}
.promo #carouselExampleCaptions .carousel-caption p {
  color: #333333;
  font-family: "Gotham Pro", sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}
.promo #carouselExampleCaptions .carousel-caption h1 {
  font-size: 64px;
  font-family: "Noah Bold", sans-serif;
  color: #333333;
  max-width: 60%;
  margin-bottom: 20px;
}
.promo #carouselExampleCaptions .carousel-caption .socials {
  display: flex;
  flex-direction: column;
  width: 3%;
  margin: 0;
  justify-content: flex-start;
}
.promo #carouselExampleCaptions .carousel-caption .socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid #333333;
  border-radius: 100%;
  margin-bottom: 15px;
}
.promo #carouselExampleCaptions .carousel-caption .socials a .fa {
  text-align: center;
  color: #333333;
  font-size: 16px;
}
.promo #carouselExampleCaptions .carousel-caption .socials a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  border-color: #ffffff;
}
.promo #carouselExampleCaptions .carousel-caption .socials a:hover .fa {
  color: #ffffff;
}
.promo .promo-carousel-control {
  background-color: #333333;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
  height: 120px;
  width: 44%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.promo .promo-carousel-control .control-number {
  margin-right: 40px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-family: "Gotham Pro", sans-serif;
  color: #666666;
}
.promo .promo-carousel-control .control-number #total_slider {
  margin-left: 15px;
}
.promo .promo-carousel-control .control-number #current_slider {
  position: relative;
  margin-right: 15px;
  color: #ffffff;
  font-family: "Gotham Pro", sans-serif;
  font-weight: bold;
  font-size: 30px;
}
.promo .promo-carousel-control .control-number #current_slider:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 32px;
  top: 5px;
  right: -15px;
  background-color: #606060;
}
.promo .promo-carousel-control .carousel-indicators {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 70px 0 0;
}
.promo .promo-carousel-control .carousel-indicators li {
  width: 8px;
  height: 8px;
  border-radius: 100%;
}
.promo .promo-carousel-control .carousel-indicators li.active {
  width: 12px;
  height: 12px;
}
.promo .promo-carousel-control .carousel-control-nex,
.promo .promo-carousel-control .carousel-control-pre {
  position: relative;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  transition: opacity 0.15s ease;
}
.promo .promo-carousel-control .carousel-control-nex {
  right: 0;
  margin-right: 40px;
}
.promo .promo-carousel-control .carousel-control-nex .carousel-control-next-icon {
  background: url("../img/next.png") 100% 100% no-repeat;
}
.promo .promo-carousel-control .carousel-control-pre {
  right: 0;
  margin-right: 40px;
}
.promo .promo-carousel-control .carousel-control-pre .carousel-control-prev-icon {
  background: url("../img/prev.png") 100% 100% no-repeat;
}
.promo .promo-small-carousel {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  height: 281px;
  width: 35%;
}
.promo .promo-small-carousel .bd-example {
  height: 281px;
}
.promo .promo-small-carousel #carouselExampleCaptionsSmall {
  height: 281px;
}
.promo .promo-small-carousel #carouselExampleCaptionsSmall .carousel-inner {
  height: 100%;
}
.promo .promo-small-carousel #carouselExampleCaptionsSmall .carousel-caption {
  padding: 50px 0 50px 50px;
  display: flex;
  flex-direction: column;
}
.promo .promo-small-carousel #carouselExampleCaptionsSmall .carousel-caption p {
  text-transform: uppercase;
  font-size: 12px;
  color: #666666;
  font-family: "Gotham Pro", sans-serif;
  margin-bottom: 20px;
}
.promo .promo-small-carousel #carouselExampleCaptionsSmall .carousel-caption a:hover {
  text-decoration: none;
}
.promo .promo-small-carousel #carouselExampleCaptionsSmall .carousel-caption a {
  max-width: 300px;
  position: relative;
}
.promo .promo-small-carousel #carouselExampleCaptionsSmall .carousel-caption a img {
  position: absolute;
  top: 0;
  right: 8%;
}
.promo .promo-small-carousel #carouselExampleCaptionsSmall .carousel-caption a .project-text {
  text-align: right;
}
.promo .promo-small-carousel #carouselExampleCaptionsSmall .carousel-caption h5 {
  position: relative;
  color: #333333;
  font-family: "Gotham Pro Medium", sans-serif;
  font-size: 24px;
  margin-bottom: 25px;
  max-width: 300px;
}
.promo .promo-small-carousel #carouselExampleCaptionsSmall .carousel-caption h5:before {
  content: "";
  bottom: -40px;
  left: 0;
  position: absolute;
  height: 2px;
  width: 78px;
  background-color: #cd406b;
}
.promo .promo-small-carousel #carouselExampleCaptionsSmall .carousel-control-prev {
  z-index: 10;
  left: 250px;
  top: -90px;
  height: 280px;
}
.promo .promo-small-carousel #carouselExampleCaptionsSmall .carousel-control-next {
  z-index: 10;
  left: 300px;
  top: -90px;
  height: 280px;
}
.promo .promo-small-carousel #carouselExampleCaptionsSmall .carousel-control-prev-icon {
  background: url("../img/prev.png") 100% 100% no-repeat;
}
.promo .promo-small-carousel #carouselExampleCaptionsSmall .carousel-control-next-icon {
  background: url("../img/next.png") 100% 100% no-repeat;
}

.white-text {
  color: #ffffff;
}

@media screen and (max-width: 1400px) {
  .about-map .addres {
    left: 15% !important;
  }
}
@media screen and (max-width: 1200px) {
  .about-company .left-text {
    max-width: 420px !important;
    margin-left: 10px;
  }
  .about-company .right-icons {
    max-width: 520px !important;
  }

  .about-map .addres {
    left: 10% !important;
  }
}
@media screen and (max-width: 1024px) {
  .about-map .addres {
    position: relative;
    width: 100%;
    left: 0 !important;
    top: 0 !important;
  }

  #carouselExampleCaptionsSmall .carousel-control-prev {
    display: none !important;
  }
  #carouselExampleCaptionsSmall .carousel-control-next {
    display: none !important;
  }

  .contacts {
    display: flex;
    flex-direction: column;
  }
  .contacts .left-block {
    width: 100%;
    background-image: url("../img/black-map.jpg");
    background-position-x: 500px;
    background-size: cover;
    min-height: 500px;
  }
  .contacts .right-block {
    width: 100%;
    padding: 40px 0 40px 50px;
  }
  .contacts hr {
    display: none !important;
  }

  .contacts_hr {
    display: none;
  }

  .copyright-block {
    justify-content: flex-start;
    flex-direction: column;
  }

  .desktop-header .logo {
    display: none !important;
  }
  .desktop-header li {
    margin-left: 5px !important;
  }

  .grey-button {
    margin: 40px auto 100px auto;
  }

  .footer .menu {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
  }
  .footer .menu li {
    display: block !important;
    padding: 10px 0;
  }
  .footer p {
    margin-left: 18px;
  }

  .licenses-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .licenses-block .left-block {
    width: 100% !important;
    padding-left: 30px;
  }
  .licenses-block .left-block p {
    max-width: 95%;
  }
  .licenses-block .right-block {
    width: 100% !important;
    padding: 45px 0 0 0;
    height: 800px;
    background-color: inherit;
  }
  .licenses-block .right-block .bd-example {
    margin: 0 auto;
  }
  .licenses-block .right-block .bd-example #carouselLicenses {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .licenses-block .right-block .bd-example #carouselLicenses .carousel-inner {
    width: 80%;
  }
  .licenses-block .right-block .bd-example #carouselLicenses .carousel-loupe {
    display: none;
  }
  .licenses-block .right-block .bd-example #carouselLicenses .carousel-control-prev,
.licenses-block .right-block .bd-example #carouselLicenses .carousel-control-next {
    position: relative;
    width: 5%;
  }
  .licenses-block .right-block .bd-example #carouselLicenses .carousel-control-next {
    margin-left: 10px;
  }
  .licenses-block .right-block .bd-example #carouselLicenses .carousel-control-prev {
    margin-right: 10px;
  }
  .licenses-block .right-block .bd-example #carouselLicenses .carousel-control-prev-icon {
    background: url("../img/prev.png") 100% 100% no-repeat;
  }
  .licenses-block .right-block .bd-example #carouselLicenses .carousel-control-next-icon {
    background: url("../img/next.png") 100% 100% no-repeat;
  }
  .licenses-block .right-block .bd-example #carouselLicenses .carousel-indicators {
    display: flex !important;
    position: relative;
    width: 100%;
    margin-top: 30px;
  }
  .licenses-block .right-block .bd-example #carouselLicenses .carousel-indicators li {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #666666 !important;
    opacity: 1;
    box-sizing: border-box !important;
    border: none !important;
  }
  .licenses-block .right-block .bd-example #carouselLicenses .carousel-indicators li.active {
    width: 12px;
    height: 12px;
    background: #d34f2a !important;
  }

  .promo-small-carousel {
    width: 40% !important;
  }
  .promo-small-carousel .carousel-caption {
    padding: 50px 0 0 40px !important;
  }

  .socials {
    display: none !important;
  }
}
@media screen and (max-device-width: 990px) {
  .about-company .left-text {
    max-width: 100% !important;
  }
  .about-company .right-icons {
    margin: 20px auto 0 auto;
  }

  .about-projects .container {
    display: flex;
  }
  .about-projects .home-gallery-desktop .gallery-block .loupe {
    top: 40% !important;
  }
  .about-projects .home-gallery-desktop .gallery-block p {
    font-size: 14px;
  }

  .about-services .left-text,
.about-services .right-text {
    max-width: 100% !important;
  }

  #carouselExampleCaptionsSmall .carousel-caption h5 {
    max-width: 250px !important;
  }
  #carouselExampleCaptionsSmall .carousel-caption a .project-text {
    display: none;
  }

  .promo-small-carousel {
    width: 43% !important;
  }
}
@media screen and (max-device-width: 900px) {
  #carouselExampleCaptions .carousel-indicators {
    display: none !important;
  }

  #carouselExampleCaptionsSmall .carousel-caption a img {
    right: 18% !important;
  }

  .promo-small-carousel {
    width: 45% !important;
  }
  .promo-small-carousel .carousel-caption {
    padding: 50px 0 0 30px !important;
  }

  .promo-carousel-control .control-number {
    display: flex;
    order: 2;
  }
  .promo-carousel-control .carousel-control-nex {
    display: flex;
    order: 3;
  }
  .promo-carousel-control .carousel-control-pre {
    display: flex;
    order: 1;
  }
}
@media screen and (max-device-width: 768px) {
  .about-projects .home-gallery-desktop {
    display: none;
  }
  .about-projects .home-gallery-mobile {
    display: block;
  }

  #carouselExampleCaptionsSmall .carousel-caption h5 {
    font-size: 18px !important;
    max-width: 150px !important;
  }
  #carouselExampleCaptionsSmall .carousel-caption a img {
    right: 40% !important;
  }

  .desktop-header {
    display: none !important;
  }

  .privacy_h {
    font-size: 56px !important;
  }

  .promo-carousel-control {
    min-width: 170px !important;
  }
  .promo-carousel-control .control-number {
    margin-right: 10px !important;
  }
  .promo-carousel-control .carousel-control-pre {
    margin-right: 10px !important;
  }
  .promo-carousel-control .carousel-control-nex {
    margin-right: 10px !important;
  }

  .promo-small-carousel {
    width: 45% !important;
  }
}
@media screen and (max-device-width: 600px) {
  .about-questions form input {
    margin-right: 0 !important;
  }

  #carouselExampleCaptionsSmall .about-company {
    margin-top: 10px;
  }
  #carouselExampleCaptionsSmall .about-company .right-icons .text {
    width: 220px !important;
  }
  #carouselExampleCaptionsSmall .carousel-caption {
    padding: 50px 0 0 20px !important;
  }
  #carouselExampleCaptionsSmall .carousel-caption h5 {
    font-size: 18px !important;
    max-width: 150px !important;
  }
  #carouselExampleCaptionsSmall .carousel-caption a img {
    right: 50% !important;
  }
  #carouselExampleCaptionsSmall .carousel-item {
    min-height: 620px !important;
  }

  .carousel-left-block p {
    max-width: 400px !important;
  }
  .carousel-left-block h1 {
    font-size: 40px !important;
    max-width: 400px !important;
  }

  .promo-small-carousel {
    width: 45% !important;
  }

  .privacy_h {
    font-size: 46px !important;
  }

  .container {
    padding: 30px 5px 0 5px !important;
  }
}
@media screen and (max-device-width: 500px) {
  .about-company .right-icons .text {
    width: 200px !important;
  }

  #carouselExampleCaptionsSmall .carousel-caption h5 {
    font-size: 18px !important;
    max-width: 150px !important;
  }
  #carouselExampleCaptionsSmall .carousel-caption h5:before {
    display: none;
  }
  #carouselExampleCaptionsSmall .carousel-caption a img {
    right: 55% !important;
  }

  h1 {
    font-size: 46px !important;
  }

  .privacy_h {
    font-size: 30px !important;
  }
}
@media screen and (max-device-width: 400px) {
  .about-company .right-icons {
    margin-top: 10px;
  }
  .about-company .right-icons .text {
    width: 150px !important;
  }

  #carouselExampleCaptionsSmall .carousel-caption {
    padding: 50px 0 0 5px !important;
  }
  #carouselExampleCaptionsSmall .carousel-caption h5 {
    font-size: 13px !important;
    max-width: 120px !important;
  }
  #carouselExampleCaptionsSmall .carousel-caption a img {
    right: 65% !important;
  }
  #carouselExampleCaptionsSmall .carousel-item {
    min-height: 520px !important;
  }

  .carousel-left-block p {
    max-width: 300px !important;
  }
  .carousel-left-block h1 {
    font-size: 30px !important;
    max-width: 300px !important;
  }

  .promo-small-carousel {
    height: 238px !important;
    width: 45% !important;
  }
}
@media screen and (min-device-width: 990px) {
  #carouselExampleCaptionsSmall .carousel-caption a img {
    display: none;
  }
}
@media screen and (min-device-width: 769px) {
  .mobile-header {
    display: none;
  }
}
@font-face {
  font-family: "Gotham Pro Medium";
  src: url("../fonts/Gotham_Pro_Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gotham Pro Light";
  src: url("../fonts/Gotham_Pro_Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/Gotham_Pro.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Noah Bold";
  src: url("../fonts/Noah_Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*# sourceMappingURL=style.css.map */
