@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap&subset=cyrillic');

$blue: #0DD1A2;

* {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
}

.btn-group {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  button {
    margin: 0 25px 20px 0;
  }

  @media screen and (max-width: 600px) {
    margin-top: 20px !important;
  }
}

.btn-primary {
  border: 3px solid #15B38D;
  background-color: #15B38D;
  width: 201px;
  height: 68px;
  font-weight: bold;
  font-size: 21px;
  line-height: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin-right: 10px;

    i {
      font-size: 28px;
    }
  }
}

.btn-primary:hover {
  border: 2px solid #0DD1A2;
  background-color: #0DD1A2;
  cursor: pointer;
  transition: background-color, 0.3s;
}

.btn-secondary {
  border: 3px solid #15B38D;
  background-color: inherit;
  width: 201px;
  height: 68px;
  font-weight: bold;
  font-size: 21px;
  color: #FFFFFF;
  text-transform: uppercase;

  span {
    margin-right: 10px;

    i {
      font-size: 28px;
    }
  }
}

.btn-secondary:hover {
  border: 2px solid #0DD1A2;
  background-color: #0DD1A2;
  cursor: pointer;
  transition: background-color, 0.3s;
}

.btn-small {
  border: 2px solid #0DD1A2;
  width: 108px;
  height: 34px;
  font-size: 14px;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
  //height: calc(100% - 150px) ;
  height: 100%;

}

h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  @media screen and (max-width: 491px) {
    font-size: 56px;
    padding-bottom: 10px !important;
  }
}

h2 {
  font-weight: 500;
  font-size: 44px;
  color: #FFFFFF;
  padding-bottom: 5px;
  position: relative;
  width: fit-content;
  padding-right: 30px;
  border-bottom: 3px solid $blue;

  &:after {
    content: '';
    width: 110%;
    height: 3px;
    color: $blue;
    display: block;
    position: absolute;
    z-index: 10;
  }

  @media screen and (max-width: 600px) {
    font-size: 28px;
    width: 100%;
    padding-right: 0;
  }
}

h4 {
  font-weight: bold;
  font-size: 21px;
  line-height: 24px;
  color: #FFFFFF;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

h5 {
  font-weight: 300;
  font-size: 17px;
  line-height: 150%;
}

.header {
  padding-top: 40px;
  left: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 70;
  text-align: right;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    ul {
      width: 620px;
      display: flex;
      justify-content: space-around;

      li {
        text-transform: uppercase;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        font-size: 15px;
        line-height: 17px;
        color: #FFFFFF;
        align-items: center;
        display: flex;
      }

      li a,
      li.active a {
        text-decoration: none;
        color: #ffffff;
      }

      li.active a,
      li a:hover {
        color: $blue;
        transition: color, 0.3s;

      }

      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    .order {
      a {
        margin-left: 20px;
        color: #ffffff;
        text-decoration: none;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        font-size: 16px;
      }

      a:hover {
        color: $blue;
      }

      @media screen and(max-width: 1100px) {
        a {
          display: none;
        }
      }
    }
  }
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  width: 36px;
  height: 36px;
  box-shadow: none;
  border: none;
  cursor: pointer;
  background-color: initial;

  span {
    display: block;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    height: 4px;
    width: 25px;
    background: white;
    transition: background 0s 0.3s;
  }

  span::before,
  span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 25px;
    height: 4px;
    background-color: #fff;
    content: "";
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
  }

  span::before {
    top: -10px;
    transition-property: top, transform;
  }

  span::after {
    bottom: -10px;
    transition-property: bottom, transform;
    width: 15px;
    left: 10px;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger.is-active {


  span {
    background: none;
  }

  span::before {
    top: 0;
    transform: rotate(45deg);
  }

  span::after {
    bottom: 0;
    transform: rotate(-45deg);
    width: 25px;
    left: 0;
  }

  span::before,
  span::after {
    transition-delay: 0s, 0.3s;
    background-color: #ffffff;

  }
}

.c-hamburger.is-active ~ .dropdown-menu {
  display: block;
}

.dropdown-menu {
  height: 100vh;
  background: rgba(28, 28, 28, 0.8);
  display: none;
  position: absolute;
  right: 0;
  top: 75px;
  cursor: pointer;
  width: 100%;
  text-align: left;

  .dropdown-menu_ul {
    margin: 50px 0 30px 0;
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    display: block !important;
    width: 100% !important;
    padding-left: 30px;
    border-bottom: 1px solid rgba(255, 255, 255);

    li {
      margin-bottom: 35px;
    }

    li:last-child {
      margin-bottom: 50px;
    }

  }

  .phone {
    padding-left: 30px;
    text-decoration: none;
  }

  .socials {
    text-align: left;
    padding-left: 30px;
    margin-top: 20px;

    i {
      margin-right: 25px;
    }
  }
}

.logo {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;

  svg {
    margin-right: 10px;
    fill: #ffffff;
  }

  @media screen and (max-width: 1100px) {
    p {
      display: none;
    }

  }
}

.logo:hover {
  p {
    color: $blue !important;
  }

  svg {
    fill: $blue !important;
  }
}


.scroll-block:hover {
  cursor: pointer;

  img {
    transform: translateY(5px);
    transition-duration: 0.5s;
  }
}

.section {
  //padding-top: 80px;
  //height: calc(100% - 80px) !important;

  .fp-tableCell {
    padding-top: 80px;
  }
}

.section-1 {
  background: url("../img/bg-1.jpg") no-repeat center center;
  background-size: cover;
  //@media screen and (max-width: 600px) {
  //  //.fp-tableCell{
  //  //  background: linear-gradient(262.59deg, #171A1C 0%, rgba(94, 94, 87, 0.72) 99.69%);
  //  //  mix-blend-mode: normal;
  //  //  opacity: 0.5;
  //  //}
  //}

  .container {
    position: relative;
    padding-top: 150px;

    h1 {
      padding-bottom: 25px;
    }

    .btn-group {
      margin-top: 70px;
    }

    .socials {
      position: absolute;
      bottom: 30px;

      i {
        font-size: 22px;
        opacity: 0.64;
        margin-right: 15px;
      }

      i:hover {
        opacity: 1;
      }

      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    @media screen and (max-width: 767px) {
      padding-top: 50px;

    }
  }

  .scroll-block {
    position: absolute;
    bottom: 30px;
    left: 30%;
    right: 30%;

    a {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-decoration: none;

      p {
        font-weight: normal;
        font-size: 11px;
        text-align: center;
        color: #728891;
        text-transform: uppercase;
        opacity: 0.64;
        letter-spacing: 0.12em;
        margin-bottom: 10px;
      }

      img {
        width: 15px;
        height: 7px;
        margin: 0 auto;
      }
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.section-2 {
  background: url("../img/bg-3.jpg") no-repeat center center;
  background-size: cover;

  .container {
    position: relative;
    padding-top: 150px;

    h2 {
      //padding-bottom: 15px;
    }

    hr {
      margin-bottom: 60px;
    }

    p {
      max-width: 800px;
      font-weight: 300;
      font-size: 17px;
      line-height: 150%;
      padding-bottom: 30px;
    }

    @media screen and (max-width: 767px) {
      padding-top: 20px;
    }
  }

  .scroll-block {
    position: absolute;
    bottom: 120px;
    left: 30%;
    right: 30%;

    a {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-decoration: none;

      p {
        font-weight: normal;
        font-size: 11px;
        text-align: center;
        color: #728891;
        text-transform: uppercase;
        opacity: 0.64;
        letter-spacing: 0.12em;
        margin-bottom: 10px;
      }

      img {
        width: 15px;
        height: 7px;
        margin: 0 auto;
      }
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

}

.section-3 {
  background: url("../img/bg-3.jpg") no-repeat center center;
  background-size: cover;

  .container {
    position: relative;
    padding-top: 70px;

    @media screen and (max-width: 1200px) {
      padding-top: 30px;
    }
    @media screen and (max-width: 600px) {
      padding-top: 10px;
    }


  }

  .slider_buttons {
    display: none;
    height: 70px;
    width: 100%;
    background-color: #000000;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;

    .slick-prev,
    .slick-next {
      order: 2;
      position: relative;
      left: 0;
      width: 60px;
      height: 48px;
      background-color: #1C1C1C;

      &:before {
        content: url("../img/prev.png");
      }
    }

    .slick-next {
      margin-right: 20px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

      &:before {
        content: url("../img/prev.png");
        display: block;
        transform: rotate(180deg);

      }
    }

    .control-number {
      order: 1;
      margin-right: 40px;
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: normal;

      p {
        color: #ABABAB !important;
      }

      #current_slider {
        font-weight: 500;
        color: #FFFFFF;
      }
    }

    @media screen and (max-width: 600px) {
      display: flex;
    }
  }

  .scroll-block {
    position: absolute;
    bottom: 40px;
    left: 30%;
    right: 30%;

    a {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-decoration: none;

      p {
        font-weight: normal;
        font-size: 11px;
        text-align: center;
        color: #728891;
        text-transform: uppercase;
        opacity: 0.64;
        letter-spacing: 0.12em;
        margin-bottom: 10px;
      }

      img {
        width: 15px;
        height: 7px;
        margin: 0 auto;
      }
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .slick-dots {
    display: none !important;
  }
}

.section-5 {
  background: url("../img/bg-5.jpg") no-repeat center center;
  background-size: cover;

  .container {
    position: relative;
    padding-top: 70px;

    @media screen and (max-width: 1200px) {
      padding-top: 30px;
    }
    @media screen and (max-width: 600px) {
      padding: 10px 0 0 15px;

    }

    .boy {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 260px;
      @media screen and (max-width: 600px) {
        display: none;
      }
    }
  }

  .questions {
    margin-top: 40px;
    max-width: 905px;

    ul {
      list-style-type: none;

      li {
        margin-bottom: 5px;
      }
    }

    .open_answer {
      .question {
        .question-toggle {
          &:before {
            transform: rotate(45deg);
            transform-origin: center center;
            transition-duration: 0.5s;
          }

          @media screen and (max-width: 600px) {
            background-color: #1C1C1C !important;
            &hover {
              background-color: inherit;
            }
          }
        }
      }

      .answer {
        display: block;
      }
    }

    .question {
      height: 72px;
      display: flex;
      background-color: #ffffff;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;

      p {
        padding: 10px 0 10px 40px;
        font-weight: 500;
        font-size: 21px;
        line-height: 28px;
        color: #1C1C1C;
        position: relative;
        display: block;
        @media screen and(max-width: 600px) {
          padding-left: 10px;
          font-size: 17px;
          max-width: 80%;
        }

        &:before {
          content: '';
          width: 7px;
          height: 7px;
          background: $blue;
          border-radius: 100%;
          position: absolute;
          left: 20px;
          top: 20px;
          @media screen and(max-width: 600px) {
            width: 0;
            height: 0;
          }
        }
      }

      .question-toggle {
        min-height: 72px;
        height: 100%;
        width: 67px;
        background-color: #15B38D;
        display: block;
        position: relative;

        &:before {
          content: url('../img/plus.png');
          display: block;
          position: absolute;
          top: 30%;
          bottom: 30%;
          left: 30%;
          right: 30%;
        }
      }

      .question-toggle:hover {
        background-color: #0DD1A2;
      }

      @media screen and (max-width: 500px) {
        height: 94px;
      }
    }

    .answer {
      display: none;
      background-color: #ffffff;
      padding-bottom: 30px;

      p {
        padding-left: 40px;
        color: #1C1C1C;
        font-size: 15px;
        line-height: 150%;
        max-width: 640px;
        @media screen and(max-width: 600px) {
          padding-left: 10px;
        }
      }
    }
  }

}


.steps {
  margin: 70px 0 0 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .step {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0 0 90px 0;

    .step-img {
      position: relative;
      width: 195px;
      height: 130px;
      z-index: 6;
      display: block;

      img {
        width: 100%;
        height: 100%;
      }

      .step-number {
        font-weight: bold;
        font-size: 28px;
        color: #0DD1A2;
        width: 40px;
        height: 40px;
        background-color: #ffffff;
        text-align: center;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: -10px;
        left: -10px;

      }
    }

    .step-img:before {
      display: block;
      content: '';
      width: 195px;
      height: 130px;
      border: 2px solid #0DD1A2;
      position: absolute;
      bottom: 12px;
      left: 12px;
      z-index: -1;
    }

    .step-text {
      margin-left: 30px;

      h4 {
        max-width: 140px;
      }

      p {
        font-weight: 300;
        font-size: 15px;
        line-height: 130%;
        max-width: 280px;
        @media screen and (max-width: 1234px) {
          max-width: 210px;
        }
        @media screen and (max-width: 1100px) {
          max-width: 500px;
        }
        @media screen and (max-width: 790px) {
          max-width: 300px;
          font-size: 14px;
        }
      }

      @media screen and (max-width: 600px) {
        margin-left: 0;
        p {
          max-width: 100%;
        }
      }
    }

    @media screen and (max-width: 1100px) {
      margin: 0 0 30px 0;
    }
    @media screen and (max-width: 600px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .step-img {
        margin-bottom: 20px;
      }
    }
  }

  .step:nth-child(odd) {
    margin-right: 80px;
  }

  .step:nth-child(2),
  .step:nth-child(4) {
    margin-top: 30px;
  }

  .step:nth-child(3),
  .step:nth-child(4) {
    margin-left: 40px;
  }

  .step:nth-child(1):before {
    content: url("../img/1-2.png");
    position: absolute;
    left: 340px;
    width: 246px;
    top: 20px;
  }

  .step:nth-child(3):before {
    content: url("../img/2-3.png");
    position: absolute;
    left: 80px;
    width: 460px;
    top: -90px;
    @media screen and (max-width: 1234px) {
      top: -120px;
      left: 40px;
    }
  }

  .step:nth-child(3):after {
    content: url("../img/3-4.png");
    position: absolute;
    left: 360px;
    width: 246px;
    top: 20px;
  }

  @media screen and (max-width: 1100px) {
    margin: 30px 0 0 25px;
    .step:nth-child(odd) {
      margin-right: 0;
    }
    .step:nth-child(3),
    .step:nth-child(4) {
      margin-left: 0;
    }
    .step:nth-child(2),
    .step:nth-child(4) {
      margin-top: 0;
    }

    .step:nth-child(1):before {
      display: none;
    }

    .step:nth-child(3):before {
      display: none;
      @media screen and (max-width: 1234px) {
        top: -120px;
        left: 40px;
      }
    }

    .step:nth-child(3):after {
      display: none;
    }
  }

}