@import url("https://fonts.googleapis.com/css?family=Barlow:600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.about-work .container img {
  width: 100%;
  margin: 120px 0;
}
@media screen and (max-width: 765px) {
  .about-work .container img {
    margin: 60px 0;
  }
}

.appeal {
  background-color: #F8F8F8;
  margin-top: 50px;
  padding-top: 50px !important;
}
.appeal .container {
  display: flex;
  flex-direction: row;
}
.appeal .container .right-block {
  width: 50%;
  padding-top: 50px;
}
.appeal .container .right-block h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 50px;
}
@media screen and (max-width: 400px) {
  .appeal .container .right-block h4 {
    font-size: 30px;
  }
}
.appeal .container .right-block p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 180%;
  color: #000000;
}
.appeal .container .left-block {
  width: 50%;
}
.appeal .container .left-block img {
  display: block;
  margin: 0 0 0 auto;
}
@media screen and (max-width: 900px) {
  .appeal .container {
    flex-direction: column;
  }
  .appeal .container .right-block,
.appeal .container .left-block {
    width: 100%;
  }
  .appeal .container .left-block img {
    margin: 20px 0 auto 0;
  }
}
@media screen and (max-width: 900px) and (max-width: 480px) {
  .appeal .container .left-block img {
    width: 100%;
    height: auto;
  }
}

.blog ul {
  list-style: none;
  margin-bottom: 150px;
}
.blog ul li {
  margin-bottom: 50px;
}
.blog ul li a {
  text-decoration: none;
}
.blog ul li h5:hover {
  color: #5E5E5E;
}
.blog ul li h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 38px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 15px;
}
@media screen and (max-width: 500px) {
  .blog ul li h5 {
    font-size: 24px;
  }
}
.blog ul li p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
}

.clients {
  display: flex;
  flex-wrap: wrap;
}
.clients .client {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 25%;
  background-color: #F1F1F1;
}
@media screen and (max-width: 765px) {
  .clients .client {
    width: 50%;
  }
}
@media screen and (max-width: 450px) {
  .clients .client {
    width: 100%;
  }
}

.container {
  max-width: 1240px !important;
  padding: 0 20px;
  margin: 0 auto;
}

.content {
  padding-top: 100px;
}
@media screen and (max-width: 765px) {
  .content {
    padding-top: 50px;
  }
}

.footer {
  background-color: #000000;
  padding: 100px 0;
}
.footer h3 {
  color: #d2d2d2;
}
.footer p {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 11px;
  line-height: 120%;
  color: #818181;
  max-width: 480px;
}
.footer .contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.footer .contacts .left-block,
.footer .contacts .right-block {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-right: 20px;
}
.footer .contacts .left-block h6,
.footer .contacts .right-block h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 20px 0 30px 0;
}
.footer .contacts .left-block a,
.footer .contacts .right-block a {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 28px;
  line-height: 180%;
  color: #D2D2D2;
  text-decoration: none;
}
.footer .container {
  position: relative;
}
.footer .container .rating-card {
  position: absolute;
  right: 20px;
  top: 0;
  width: 240px;
  height: 120px;
  background: #2B1C42;
  border-radius: 5px;
  padding: 15px 10px 0 20px;
  font-family: "Montserrat", sans-serif;
}
.footer .container .rating-card a {
  text-decoration: none;
}
.footer .container .rating-card h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 110%;
  color: #2ADBE7;
  margin-bottom: 10px;
}
.footer .container .rating-card h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 110%;
  color: #B6B6B6;
  margin-bottom: 10px;
}
.footer .container .rating-card h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 140%;
  color: #B6B6B6;
  margin-bottom: 15px;
}
.footer .container .rating-card p {
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 110%;
  color: #757575;
}
.footer .container .rating-card .chain-logo {
  position: absolute;
  right: 10px;
  top: 10px;
}
@media screen and (max-width: 765px) {
  .footer .container .rating-card {
    display: none;
  }
}

.menu_block {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 30;
}
.menu_block .menu {
  padding-top: 40px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  z-index: 2;
}
.menu_block .menu a {
  color: inherit;
  text-decoration: none;
}
.menu_block .menu .c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  width: 36px;
  height: 36px;
  box-shadow: none;
  border: none;
  cursor: pointer;
  background-color: initial;
}
.menu_block .menu .c-hamburger span {
  display: block;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  height: 4px;
  width: 36px;
  background: white;
  transition: background 0s 0.3s;
}
.menu_block .menu .c-hamburger span::before,
.menu_block .menu .c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 36px;
  height: 4px;
  background-color: inherit;
  content: "";
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}
.menu_block .menu .c-hamburger span::before {
  top: -10px;
  transition-property: top, transform;
}
.menu_block .menu .c-hamburger span::after {
  bottom: -10px;
  transition-property: bottom, transform;
}
.menu_block .menu .c-hamburger:focus {
  outline: none;
}
.menu_block .menu .c-hamburger.is-active span {
  background: none !important;
}
.menu_block .menu .c-hamburger.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}
.menu_block .menu .c-hamburger.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.menu_block .menu .c-hamburger.is-active span::before,
.menu_block .menu .c-hamburger.is-active span::after {
  transition-delay: 0s, 0.3s;
  background-color: #000000 !important;
}
.menu_block .menu .c-hamburger.is-active ~ .dropdown-menu {
  display: block;
}
.menu_block .menu .dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 100px;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 160%;
  color: #000000;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.73);
  padding: 5px;
}
.menu_block .menu .dropdown-menu a {
  font-weight: bold;
}
.menu_block .menu .dropdown-menu .small-text {
  font-size: 14px;
  line-height: 160%;
}
@media screen and (max-width: 765px) {
  .menu_block .menu .dropdown-menu {
    font-size: 16px;
    max-width: 200px;
  }
  .menu_block .menu .dropdown-menu .small-text {
    margin-bottom: 10px;
  }
}
.menu_block .menu .logo {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #ffffff;
}

.black-menu a {
  color: inherit;
  text-decoration: none;
}
.black-menu .c-hamburger span {
  background: #000000 !important;
}
.black-menu .dropdown-menu {
  color: #000000 !important;
}
.black-menu .logo {
  color: #000000 !important;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 50px;
}

h2 {
  max-width: 1000px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 38px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 100px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 130%;
  text-transform: uppercase;
  color: #5E5E5E;
  margin-bottom: 30px;
}

p {
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: #212121;
  max-width: 900px;
}

.header {
  position: relative;
}
.header video {
  width: 100%;
  min-width: 100%;
  height: 600px;
  object-fit: cover;
}
.header .slide {
  height: 600px;
  position: relative;
}
.header .slide .slider-text {
  width: 100%;
  position: absolute;
  top: 0;
}
.header .slide .slider-text .container a {
  text-decoration: none;
}
.header .slide .slider-text .container h1 {
  max-width: 1000px;
  margin-top: 250px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 52px;
  line-height: 130%;
  color: #FFFFFF;
}
@media screen and (max-width: 1250px) {
  .header .slide .slider-text .container h1 {
    max-width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .header .slide .slider-text .container h1 {
    margin-top: 150px;
    font-size: 32px;
  }
}
.header .slide .slider-text .container img {
  margin-top: 50px;
}
.header .dots-container {
  position: absolute;
  width: 100%;
  display: block;
  height: 600px;
}
.header .dots-container .container {
  position: relative;
  height: 600px;
}
.header .slick-dots {
  z-index: 5;
  left: 20px;
  position: absolute;
  bottom: 60px;
  text-align: left;
  width: 100px !important;
}
.header .slick-dots li {
  margin: 0;
}
.header .slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 12px;
  height: 12px;
  background-color: #A9A9A9;
  border-radius: 100%;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header .slick-dots .slick-active button:before {
  background-color: #ffffff;
}

.product-block {
  display: flex;
  flex-direction: row;
}
.product-block .product-block_right,
.product-block .product-block_left {
  height: 400px;
  width: 50%;
}
.product-block .product-block_right {
  background-size: 100% 100%;
  position: relative;
}
.product-block .product-block_right .text {
  margin: 70px 0 0 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 130%;
}
.product-block .product-block_right .text h5 {
  font-size: 30px;
  color: #FFFFFF;
  font-style: normal !important;
  font-weight: 500 !important;
}
.product-block .product-block_right .text h6 {
  font-size: 28px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal !important;
  font-weight: 500 !important;
}
.product-block .product-block_right .text a {
  position: absolute;
  bottom: 40px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-block .product-block_right .text a p {
  color: rgba(255, 255, 255, 0.6) !important;
  font-weight: 500;
  font-size: 16px;
}
.product-block .product-block_right .text a p span {
  margin-left: 30px;
}
.product-block .product-block_right .text a:hover p span {
  margin-left: 50px;
  transition-duration: 0.3s;
}
@media screen and (max-width: 969px) {
  .product-block {
    flex-direction: column;
  }
  .product-block .product-block_right,
.product-block .product-block_left {
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
}

.reviews {
  margin-top: 50px;
  padding: 100px 0;
}
.reviews .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews .container .reviews-slider {
  max-width: 600px;
  width: 100%;
  box-shadow: 0 0 40px rgba(167, 167, 167, 0.35);
  border-radius: 5px;
}
.reviews .container .reviews-slider .review {
  padding: 20px;
}
.reviews .container .reviews-slider .review .review_header {
  border-bottom: 1px solid #F8F8F8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.reviews .container .reviews-slider .review .review_header .rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reviews .container .reviews-slider .review .review_header .rating h5 {
  font-weight: normal;
  font-size: 40px;
  line-height: 110%;
  color: #2ADBE7;
  margin-right: 10px;
}
.reviews .container .reviews-slider .review .review_header .rating p {
  font-weight: 500;
  font-size: 8px;
  line-height: 120%;
  text-transform: uppercase;
  color: #757575;
}
.reviews .container .reviews-slider .review .review-person {
  padding: 20px 0 30px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.reviews .container .reviews-slider .review .review-person .stars {
  margin-right: 40px;
}
.reviews .container .reviews-slider .review .review-person .stars .far {
  font-size: 26px;
  color: #2ADBE7;
}
.reviews .container .reviews-slider .review .review-person .stars .fas {
  font-size: 26px;
  color: #E9E9E9;
}
.reviews .container .reviews-slider .review .review-person .person,
.reviews .container .reviews-slider .review .review-person .company {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reviews .container .reviews-slider .review .review-person .person img,
.reviews .container .reviews-slider .review .review-person .company img {
  margin-right: 10px;
}
.reviews .container .reviews-slider .review .review-person .person p,
.reviews .container .reviews-slider .review .review-person .company p {
  font-weight: 500;
  font-size: 7px;
  line-height: 135%;
  text-transform: uppercase;
  color: #757575;
}
.reviews .container .reviews-slider .review .review-person .person p span,
.reviews .container .reviews-slider .review .review-person .company p span {
  font-weight: bold;
  font-size: 9px;
  text-transform: none;
}
.reviews .container .reviews-slider .review .review-person .company {
  margin-right: 30px;
}
.reviews .container .reviews-slider .review .review-person .person {
  position: relative;
}
.reviews .container .reviews-slider .review .review-person .person .person-photo {
  width: 30px;
  height: 30px;
}
.reviews .container .reviews-slider .review .review-person .person .check {
  position: absolute;
  bottom: 0;
  left: 20px;
  z-index: 2;
}
@media screen and (max-width: 620px) {
  .reviews .container .reviews-slider .review .review-person {
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .reviews .container .reviews-slider .review .review-person .stars, .reviews .container .reviews-slider .review .review-person .person, .reviews .container .reviews-slider .review .review-person .company {
    margin-bottom: 10px;
  }
  .reviews .container .reviews-slider .review .review-person .stars {
    width: 100%;
  }
}
.reviews .container .reviews-slider .review p {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #212121;
  z-index: 1;
}
.reviews .container .reviews-slider .review a {
  font-size: 12px;
  text-align: center;
  color: #2ADBE7;
  width: 100%;
  display: block;
  cursor: pointer;
  margin: 10px 0 50px 0;
}
.reviews .container .reviews-slider .review .small-text {
  font-size: 8px;
  line-height: 110%;
  text-align: center;
  color: #757575;
}
.reviews .container .reviews-slider .review .shadow {
  position: relative;
}
.reviews .container .reviews-slider .review .shadow:after {
  content: "";
  display: block;
  height: 80px;
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 94.79%);
}
.reviews .container .slick-dots {
  bottom: 40px;
}
.reviews .container .slick-dots li {
  margin: 0 2px 0 0;
  width: 8px;
  height: 8px;
}
.reviews .container .slick-dots li button {
  margin: 0;
}
.reviews .container .slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #C4C4C4;
  opacity: 1;
}
.reviews .container .slick-dots .slick-active button:before {
  background-color: #2ADBE7;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.text-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.text-cards .text-card {
  width: 280px;
  margin: 0 30px 30px 0;
}
@media screen and (max-width: 660px) {
  .text-cards .text-card {
    margin: 0 0 30px 0;
    width: 100%;
  }
}
.text-cards .text-card h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 20px;
}
.text-cards .text-card p {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

/*# sourceMappingURL=style.css.map */
