.house{
  margin: 0 auto;
  display: block;
  width: 800px;
  height: 500px;
  position: relative;
  img{
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  #roof,
  #walls{
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
  }
}
