* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

.bolder-text {
  font-family: 'FreeSetDemiBold';
}

//header

.languages {
  padding: 10px 0 10px 50%;
  background-color: #000513;

  a {
    color: #66ccff;
    font-size: 18px;
    font-family: 'FreeSet', sans-serif;
    font-weight: bold;
    padding-right: 20px;
  }

  a:hover {
    color: #ffffff;
  }


  .active {
    text-decoration: none !important;
  }
}

.nav {
  display: flex;
  justify-content: center;
  background-color: #000513;
  background-image: url("../img/nav-shape.png");
  background-size: 100%;
  padding: 20px 0;

  ul {
    list-style: none;

    li {
      display: inline;

      a {
        text-decoration: none;
        color: #66ccff;
        font-size: 24px;
        font-family: 'FreeSetRegular', sans-serif;
        text-transform: uppercase;
        padding-right: 40px;
      }

      a:hover {
        color: #ffffff;
      }
    }

    .logo {
      padding-right: 200px;
      position: relative;
    }

    .logo:after {
      position: absolute;
      content: url("../img/logo-info.png");
      top: -10px;
      left: -70px;
      z-index: 10;
    }
  }
}

.message {
  z-index: 1;
  position: relative;
  height: 770px;
  background-image: url("../img/header-bg.jpg");
  background-size: 100% 100%;
  padding-left: 49%;

  p {
    color: #ffffff;
    font-size: 40px;
    font-family: 'FreeSetLight', sans-serif;
    width: 100%;
    padding-top: 40px;
  }

  .big-button {
    position: absolute;
    bottom: 50px;
  }
}

@media screen and (max-width: 991px) {
  .languages {
    a {
      font-size: 30px;
    }
  }
  .nav {
    ul {
      display: flex;
      flex-direction: column;

      li {
        text-align: center;
        padding: 10px 0;
      }

      .logo {
        padding: 15px 0;
      }

      .logo:after {
        display: none;
      }
    }
  }
  .message {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      text-align: center;
      font-size: 60px;
    }
  }
}

@media screen and (width: 1024px) {
  .nav {
    ul {
      .logo {
        padding-right: 0;
      }

      .logo:after {
        display: none;
      }
    }
  }
  .message {
    padding-left: 35%;
  }
}

//

//promo
.promo {
  background-color: #dbd1ba;
  padding: 60px 240px 60px 220px;
  font-size: 24px;
  font-family: 'FreeSetLight', sans-serif;
}

@media screen and (max-width: 991px) {
  .promo {
    padding: 80px 40px;
    text-align: center;
  }
}

//
//about-us
.about-us {
  padding: 60px 0 100px 300px;

  img {
    padding-bottom: 80px;
  }

  ul {
    li {
      list-style: none;
      font-size: 30px;
      color: #1e629c;
      font-family: 'FreeSetLight', sans-serif;
      display: flex;
      align-items: center;
      padding: 10px 0;

      .icon {
        background-image: url("../img/css_sprites.png");
        display: inline-block;
        margin-right: 20px;
      }

      .icon-1 {
        background-position: -382px -300px;
        width: 47px;
        height: 34px;
      }

      .icon-2 {
        background-position: 0 -835px;
        width: 39px;
        height: 45px;
      }

      .icon-3 {
        background-position: -100px -780px;
        width: 42px;
        height: 43px;
      }

      .icon-4 {
        background-position: -335px -300px;
        width: 47px;
        height: 60px;
      }

      .icon-5 {
        background-position: -184px -780px;
        width: 45px;
        height: 40px;
      }

      .icon-6 {
        background-position: -142px -780px;
        width: 42px;
        height: 60px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .about-us {
    padding: 100px;

    ul {
      li {
        font-size: 40px;
      }
    }
  }
}

//

.mini-header {
  background-color: #1e629c;
  padding: 40px 0 40px 200px;
  background-image: url("../img/mini-header-layont.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  h1 {
    color: #ffffff;
    font-size: 60px;
    font-family: 'FreeSetLight', sans-serif;
    font-weight: normal;
  }
}

@media screen and (max-width: 1024px) {
  .mini-header {
    padding: 40px 0 40px 100px;
  }
}

.collapse-header {
  padding: 90px 0 40px 200px;
  position: relative;

  h2 {
    font-size: 48px;
    max-width: 90%;
    color: #1e629c;
    font-family: 'FreeSetLight', sans-serif;
    display: flex;
    align-items: center;
  }

  .number-span {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url("../img/css_sprites.png");
    margin-right: 50px;
  }

  .number-span-1 {
    background-position: -340px 0;
  }

  .number-span-2 {
    background-position: -340px -200px;
  }

  .number-span-3 {
    background-position: -340px -100px;
  }

  .arrow-top {
    //transform: rotate(180deg);
    width: 100px;
    height: 57px;
    position: absolute;
    top: 110px;
    right: 200px;
    background-image: url("../img/css_sprites.png");
    background-position: 0 -340px;
  }
  .arrow-top-center{
    //transform: rotate(180deg);
    width: 100px;
    height: 57px;
    position: absolute;
    top: 40px;
    right: 50%;
    background-image: url("../img/css_sprites.png");
    background-position: 0 -340px;
  }
  .arrow-rotate{
    transform: rotate(180deg);
    transition: transform, 0.3s;
  }
  //для arrow-top-center сделать при открытом виде переворот и уход вправо

  .arrow-top:hover {
    //transform: translateY(20px);
    //transition: transform, 0.3s;
    //transform: rotate(180deg);
    //transition: transform 0.5s;
  }
}

@media screen and (max-width: 1024px) {
  .collapse-header {
    padding: 90px 0 40px 30px;

    .arrow-top {
      right: 20px;
    }
  }
}

.collapse{
  display: none;
}

.collapse-block {
  position: relative;
  border-bottom: 1px solid #cecece;

  .arrow-bottom {
    width: 100px;
    height: 57px;
    position: absolute;
    bottom: 50px;
    right: 200px;
    background-image: url("../img/css_sprites.png");
    background-position: 0 -340px;
  }

  .arrow-bottom:hover {
    transform: translateY(-20px);
    transition: transform, 0.3s;
  }

  img {
    width: 100%;
    max-height: 640px;
  }
}

.text {
  padding: 100px 200px 200px 200px;

  ul, ol {
    margin-left: 25px;

    li {
      padding-bottom: 30px;
    }
  }

  ol {
    ul {
      margin-left: 0;
    }
  }

  p {
    padding-bottom: 30px;
  }

  p, li {
    font-size: 30px;
    font-family: 'FreeSetLight', sans-serif;

    span {
      font-family: 'FreeSetRegular', sans-serif;
      font-weight: bold;
    }
  }

  h3 {
    font-size: 50px;
    font-family: 'FreeSetDemiBold', sans-serif;
    font-weight: normal;
    padding: 70px 0;
  }

  h4 {
    font-size: 30px;
    font-family: 'FreeSetDemiBold', sans-serif;
    font-weight: normal;
    padding: 70px 0 30px 0;
  }
}
.text-1{
  padding: 50px 200px 100px 200px;
}
@media screen and (max-width: 1024px) {
  .collapse-block {
    .arrow-bottom {
      right: 40px;
    }
  }
  .text {
    padding: 50px 70px 100px 70px;
  }
}

.socials {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  .social {
    margin-right: 50px;
    width: 170px;
    height: 170px;
    background-image: url("../img/css_sprites.png");
  }
  .social:hover{
    filter: grayscale(70%);
  }
  .vk {
    background-position: 0 -170px;
  }
  .fb {
    background-position: 0 0;
  }
  .inst{
    background-position: -170px 0;
  }
  .wts{
    background-position: -170px -170px;
  }
}
@media screen and (max-width: 1024px){
  .social{
    margin-right: 25px;
  }
}

.about-specialist{
  display: flex;
  flex-direction: row;
  .specialist-name{
    width: 50%;
    background-color:#0d2539;
    img{
      margin: 100px 0 150px 20%;
      width: 60%;
    }
    p{
      color: #ffffff;
      font-family: 'FreeSetLight', sans-serif;
      font-size: 50px;
      margin-left: 20%;
      padding-bottom: 50px;
    }
  }
  .specialist-photo{
    width: 50%;
    background-image: url("../img/bokadorov.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    img{
      width: 100%;
      height: 100%;
    }
  }
}
@media screen and (max-width: 1024px){
  .about-specialist{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    .specialist-name{
      width: 100%;
      img{
        margin-left: 100px;
        margin-bottom: 50px;
      }
      p{
        margin-left: 100px;
      }
    }
    .specialist-photo{
      width: 100%;
      min-height: 600px;
    }
    }

  }


//message-bottom
.message-bottom{
  padding: 80px 0;
  .big-button{
    margin: 0 auto;
  }
  .big-button:hover{
    color: #66ccff;
  }
}


//footer

.footer{
  height: 1155px;
  background-image: url("../img/footer-bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 70px;
  p{
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    padding-bottom: 18px;
    font-family: 'FreeSetRegular', sans-serif;
    span {
      font-family: 'FreeSetLight', sans-serif;
      padding-right: 10px;
    }
  }
  img{
    display: block;
    margin: 0 auto;
  }
}

//copyright
.copyright{
  padding: 50px 0;
  background-color: #2cabdf;
  text-align: center;
  font-family: 'FreeSetLight', sans-serif;
  font-size: 18px;
  color: #ffffff;
}
//buttons

.big-button {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #66ccff;
  font-size: 30px;
  font-family: 'FreeSetLight', sans-serif;
  padding: 40px 0;
  text-align: center;
  border: 1px solid #66ccff;
  width: 520px;
}

.big-button:hover {
  color: #ffffff;
  border-color: #a6d5ed;
  background-color: rgba(166, 213, 237, 0.3);
  transition: background-color, 0.3s;
}


// input (modal-message)
form{
  input, textarea{
    margin-bottom: 10px;
    box-shadow: none;
    border: 1px solid #66ccff;
  }
}

//fonts
@font-face {
  font-family: "FreeSetBold";
  src: url("../fonts/FreeSetBoldC.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "FreeSet";
  src: url("../fonts/FreeSetC.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "FreeSetDemiBold";
  src: url("../fonts/FreeSetDemiBoldC.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "FreeSetLight";
  src: url("../fonts/FreeSetLightC.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "FreeSetRegular";
  src: url("../fonts/FreeSetRegularC.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.expanded{
  background-color: red;
}