* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

.bolder-text {
  font-family: "FreeSetDemiBold";
}

.languages {
  padding: 10px 0 10px 50%;
  background-color: #000513;
}
.languages a {
  color: #66ccff;
  font-size: 18px;
  font-family: "FreeSet", sans-serif;
  font-weight: bold;
  padding-right: 20px;
}
.languages a:hover {
  color: #ffffff;
}
.languages .active {
  text-decoration: none !important;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: #000513;
  background-image: url("../img/nav-shape.png");
  background-size: 100%;
  padding: 20px 0;
}
.nav ul {
  list-style: none;
}
.nav ul li {
  display: inline;
}
.nav ul li a {
  text-decoration: none;
  color: #66ccff;
  font-size: 24px;
  font-family: "FreeSetRegular", sans-serif;
  text-transform: uppercase;
  padding-right: 40px;
}
.nav ul li a:hover {
  color: #ffffff;
}
.nav ul .logo {
  padding-right: 200px;
  position: relative;
}
.nav ul .logo:after {
  position: absolute;
  content: url("../img/logo-info.png");
  top: -10px;
  left: -70px;
  z-index: 10;
}

.message {
  z-index: 1;
  position: relative;
  height: 770px;
  background-image: url("../img/header-bg.jpg");
  background-size: 100% 100%;
  padding-left: 49%;
}
.message p {
  color: #ffffff;
  font-size: 40px;
  font-family: "FreeSetLight", sans-serif;
  width: 100%;
  padding-top: 40px;
}
.message .big-button {
  position: absolute;
  bottom: 50px;
}

@media screen and (max-width: 991px) {
  .languages a {
    font-size: 30px;
  }

  .nav ul {
    display: flex;
    flex-direction: column;
  }
  .nav ul li {
    text-align: center;
    padding: 10px 0;
  }
  .nav ul .logo {
    padding: 15px 0;
  }
  .nav ul .logo:after {
    display: none;
  }

  .message {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .message p {
    text-align: center;
    font-size: 60px;
  }
}
@media screen and (width: 1024px) {
  .nav ul .logo {
    padding-right: 0;
  }
  .nav ul .logo:after {
    display: none;
  }

  .message {
    padding-left: 35%;
  }
}
.promo {
  background-color: #dbd1ba;
  padding: 60px 240px 60px 220px;
  font-size: 24px;
  font-family: "FreeSetLight", sans-serif;
}

@media screen and (max-width: 991px) {
  .promo {
    padding: 80px 40px;
    text-align: center;
  }
}
.about-us {
  padding: 60px 0 100px 300px;
}
.about-us img {
  padding-bottom: 80px;
}
.about-us ul li {
  list-style: none;
  font-size: 30px;
  color: #1e629c;
  font-family: "FreeSetLight", sans-serif;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.about-us ul li .icon {
  background-image: url("../img/css_sprites.png");
  display: inline-block;
  margin-right: 20px;
}
.about-us ul li .icon-1 {
  background-position: -382px -300px;
  width: 47px;
  height: 34px;
}
.about-us ul li .icon-2 {
  background-position: 0 -835px;
  width: 39px;
  height: 45px;
}
.about-us ul li .icon-3 {
  background-position: -100px -780px;
  width: 42px;
  height: 43px;
}
.about-us ul li .icon-4 {
  background-position: -335px -300px;
  width: 47px;
  height: 60px;
}
.about-us ul li .icon-5 {
  background-position: -184px -780px;
  width: 45px;
  height: 40px;
}
.about-us ul li .icon-6 {
  background-position: -142px -780px;
  width: 42px;
  height: 60px;
}

@media screen and (max-width: 1024px) {
  .about-us {
    padding: 100px;
  }
  .about-us ul li {
    font-size: 40px;
  }
}
.mini-header {
  background-color: #1e629c;
  padding: 40px 0 40px 200px;
  background-image: url("../img/mini-header-layont.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.mini-header h1 {
  color: #ffffff;
  font-size: 60px;
  font-family: "FreeSetLight", sans-serif;
  font-weight: normal;
}

@media screen and (max-width: 1024px) {
  .mini-header {
    padding: 40px 0 40px 100px;
  }
}
.collapse-header {
  padding: 90px 0 40px 200px;
  position: relative;
}
.collapse-header h2 {
  font-size: 48px;
  max-width: 90%;
  color: #1e629c;
  font-family: "FreeSetLight", sans-serif;
  display: flex;
  align-items: center;
}
.collapse-header .number-span {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-image: url("../img/css_sprites.png");
  margin-right: 50px;
}
.collapse-header .number-span-1 {
  background-position: -340px 0;
}
.collapse-header .number-span-2 {
  background-position: -340px -200px;
}
.collapse-header .number-span-3 {
  background-position: -340px -100px;
}
.collapse-header .arrow-top {
  width: 100px;
  height: 57px;
  position: absolute;
  top: 110px;
  right: 200px;
  background-image: url("../img/css_sprites.png");
  background-position: 0 -340px;
}
.collapse-header .arrow-top-center {
  width: 100px;
  height: 57px;
  position: absolute;
  top: 40px;
  right: 50%;
  background-image: url("../img/css_sprites.png");
  background-position: 0 -340px;
}
.collapse-header .arrow-rotate {
  transform: rotate(180deg);
  transition: transform, 0.3s;
}
@media screen and (max-width: 1024px) {
  .collapse-header {
    padding: 90px 0 40px 100px;
  }
  .collapse-header .arrow-top {
    right: 40px;
  }
}
.collapse {
  display: none;
}

.collapse-block {
  position: relative;
  border-bottom: 1px solid #cecece;
}
.collapse-block .arrow-bottom {
  width: 100px;
  height: 57px;
  position: absolute;
  bottom: 50px;
  right: 200px;
  background-image: url("../img/css_sprites.png");
  background-position: 0 -340px;
}
.collapse-block .arrow-bottom:hover {
  transform: translateY(-20px);
  transition: transform, 0.3s;
}
.collapse-block img {
  width: 100%;
  max-height: 640px;
}

.text {
  padding: 100px 200px 200px 200px;
}
.text ul, .text ol {
  margin-left: 25px;
}
.text ul li, .text ol li {
  padding-bottom: 30px;
}
.text ol ul {
  margin-left: 0;
}
.text p {
  padding-bottom: 30px;
}
.text p, .text li {
  font-size: 30px;
  font-family: "FreeSetLight", sans-serif;
}
.text p span, .text li span {
  font-family: "FreeSetRegular", sans-serif;
  font-weight: bold;
}
.text h3 {
  font-size: 50px;
  font-family: "FreeSetDemiBold", sans-serif;
  font-weight: normal;
  padding: 70px 0;
}
.text h4 {
  font-size: 30px;
  font-family: "FreeSetDemiBold", sans-serif;
  font-weight: normal;
  padding: 70px 0 30px 0;
}

.text-1 {
  padding: 50px 200px 100px 200px;
}

@media screen and (max-width: 1024px) {
  .collapse-block .arrow-bottom {
    right: 40px;
  }

  .text {
    padding: 50px 70px 100px 70px;
  }
}
.socials {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
}
.socials .social {
  margin-right: 50px;
  width: 170px;
  height: 170px;
  background-image: url("../img/css_sprites.png");
}
.socials .social:hover {
  filter: grayscale(70%);
}
.socials .vk {
  background-position: 0 -170px;
}
.socials .fb {
  background-position: 0 0;
}
.socials .inst {
  background-position: -170px 0;
}
.socials .wts {
  background-position: -170px -170px;
}

@media screen and (max-width: 1024px) {
  .social {
    margin-right: 25px;
  }
}
.about-specialist {
  display: flex;
  flex-direction: row;
}
.about-specialist .specialist-name {
  width: 50%;
  background-color: #0d2539;
}
.about-specialist .specialist-name img {
  margin: 100px 0 150px 200px;
}
.about-specialist .specialist-name p {
  color: #ffffff;
  font-family: "FreeSetLight", sans-serif;
  font-size: 50px;
  margin-left: 200px;
  padding-bottom: 50px;
}
.about-specialist .specialist-photo {
  width: 50%;
}
.about-specialist .specialist-photo img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .about-specialist {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .about-specialist .specialist-name {
    width: 100%;
  }
  .about-specialist .specialist-name img {
    margin-left: 100px;
    margin-bottom: 50px;
  }
  .about-specialist .specialist-name p {
    margin-left: 100px;
  }
  .about-specialist .specialist-photo {
    width: 100%;
  }
}
.message-bottom {
  padding: 80px 0;
}
.message-bottom .big-button {
  margin: 0 auto;
}
.message-bottom .big-button:hover {
  color: #66ccff;
}

.footer {
  height: 1155px;
  background-image: url("../img/footer-bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 70px;
}
.footer p {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  padding-bottom: 18px;
  font-family: "FreeSetRegular", sans-serif;
}
.footer p span {
  font-family: "FreeSetLight", sans-serif;
  padding-right: 10px;
}
.footer img {
  display: block;
  margin: 0 auto;
}

.copyright {
  padding: 50px 0;
  background-color: #2cabdf;
  text-align: center;
  font-family: "FreeSetLight", sans-serif;
  font-size: 18px;
  color: #ffffff;
}

.big-button {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #66ccff;
  font-size: 30px;
  font-family: "FreeSetLight", sans-serif;
  padding: 40px 0;
  text-align: center;
  border: 1px solid #66ccff;
  width: 520px;
}

.big-button:hover {
  color: #ffffff;
  border-color: #a6d5ed;
  background-color: rgba(166, 213, 237, 0.3);
  transition: background-color, 0.3s;
}

form input, form textarea {
  margin-bottom: 10px;
  box-shadow: none;
  border: 1px solid #66ccff;
}

@font-face {
  font-family: "FreeSetBold";
  src: url("../fonts/FreeSetBoldC.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "FreeSet";
  src: url("../fonts/FreeSetC.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "FreeSetDemiBold";
  src: url("../fonts/FreeSetDemiBoldC.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "FreeSetLight";
  src: url("../fonts/FreeSetLightC.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "FreeSetRegular";
  src: url("../fonts/FreeSetRegularC.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.expanded {
  background-color: red;
}

/*# sourceMappingURL=style.css.map */
