@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap&subset=latin-ext');

* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.blue-text {
  color: #2b87d5;
}

.content {
  overflow: hidden;
  background-color: #31353a;
  position: relative;
  padding-bottom: 50px;

  .content_header {
    background: url("../img/bg.png") no-repeat top center;
    background-size: 100% 100%;
    height: 370px;
    padding-top: 60px;
    color: #ffffff;
    @media screen and (max-width: 600px){
      background-size: 100% 90%;
    }
    @media screen and (max-width: 500px){
      background-size: 100% 80%;
    }
    @media screen and (max-width: 400px){
      background-size: 100% 77%;
    }

    h1 {
      position: relative;
      font-size: 62px;
      font-weight: 700;
      line-height: 75%;
      padding-bottom: 15px;
      &:after{
        position: absolute;
        content: '';
        width: 1000px;
        height: 50px;
        background: #2b87d5;
        transform: rotate(180deg);
        top: 0;
        right:  calc(100% + 30px);
      }
    }

    h2 {
      font-size: 28px;
      font-weight: 400;
      padding-bottom: 10px;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      color: #b5b5b5;
      max-width: 310px;
    }
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    @media screen and (max-width: 450px) {
      padding: 0 15px;
    }
  }

  .steps_descriprion {
    background-color: #282b2f;
    padding: 20px 40px;
    @media screen and (max-width: 600px){
      padding: 20px 10px;
    }

    .nav-pills {
      position: relative;
      z-index: 10;
      a {
        border-radius: 0;
        font-size: 14px;
        font-weight: 400;
        color: #ffffff;
        padding: 20px 0 !important;

        &:hover {
          text-decoration: none;
        }
      }

      a:not(:last-child) {
        border-bottom: 1px solid #3d4248;
      }

      a.active {
        position: relative;
        background-color: inherit;
        font-weight: bold;
        margin-left: 20px;

        &:before {
          content: url("../img/mark.png");
          position: absolute;
          left: -20px;
          top: 20px;
          display: inline-block;
          height: 12px;
          width: 8px;
        }
      }
      @media screen and (max-width: 768px){
        a {
          padding: 10px 0 !important;
        }
        a.active {
          &:before {
            left: -20px;
            top: 10px;

          }
        }
      }

    }

    .tab-pane {
      padding-top: 20px;
      font-size: 14px;
      color: #9ea3a9;
    }
  }
}

.steps {
  margin: 70px 0 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media screen and (max-width: 600px){
    margin: 40px 0 50px 0;
  }

  .circle {
    z-index: 2;
    display: block;
    border-radius: 100%;
    transform: rotate(-45deg);
    position: relative;

    .step {
      transform: rotate(45deg);
      position: relative;
      z-index: 1;
      width: 240px;
      height: 240px;
      border-radius: 100%;
      border: 8px solid #282b2f;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #31353a;

      h1 {
        font-size: 50px;
        font-weight: bold;
        color: #8d959f;
        margin-bottom: 0;
      }

      h2 {
        font-size: 20px;
        color: #8d959f;
        margin-bottom: 15px;
      }

      p {
        display: none;
        color: #7d848d;
        font-size: 16px;
        max-width: 60%;
        text-align: center;
      }
      &:hover{
        cursor: pointer;
      }
      &:after {
        width: 100px;
        height: 2px;
        content: '';
        position: absolute;
        background-color: #282b2f;
        top: 50%;
        left: calc(100% + 8px);
        z-index: -1;
        @media screen and (max-width: 600px){
          width: 50px;
        }
      }
      @media screen and (max-width: 1200px){
        width: 220px;
        height: 220px;
      }
      @media screen and (max-width: 1024px){
        width: 190px;
        height: 190px;
      }
      @media screen and (max-width: 900px){
        width: 170px;
        height: 170px;
        h1 {
          font-size: 40px;
          margin-bottom: 0;
        }
        h2 {
          font-size: 17px;
          margin-bottom: 10px;
        }
        p {
          font-size: 13px;
        }
      }
      @media screen and (max-width: 800px){
        width: 150px;
        height: 150px;
        h1 {
          font-size: 30px;
          margin-bottom: 0;
        }
        h2 {
          font-size: 14px;
          margin-bottom: 5px;
        }
        p {
          font-size: 11px;
        }
      }
      @media screen and (max-width: 700px){
        width: 120px;
        height: 120px;
        h1 {
          font-size: 25px;
          margin-bottom: 0;
        }
        h2 {
          display: none;
        }
      }
      @media screen and (max-width: 600px){
        width: 100px;
        height: 100px;
      }
      @media screen and (max-width: 500px){
        width: 80px;
        height: 80px;
      }
      @media screen and (max-width: 400px){
        width: 60px;
        height: 60px;
      }
    }

    &:last-child {
      .step:after {
        width: 1000px;
        height: 2px;
        content: '';
        position: absolute;
        background-color: #282b2f;
        top: 50%;
        left: calc(100% + 8px);
        z-index: -1;

      }
    }

    &:first-child {
      .step:before {
        width: 1000px;
        height: 2px;
        content: '';
        position: absolute;
        background-color: #2b87d5;
        top: 50%;
        right: calc(100% + 8px);
        z-index: -1;

      }
    }
  }

  .circle.active {
    position: relative;
    .step {
      z-index: 10000;
      box-shadow: 0 0 0 8px #2b87d5;

      h1, h2 {
        color: #ffffff;
      }
      p {
        display: inline-block;
        color: #7d848d;
        font-size: 16px;
        max-width: 60%;
        text-align: center;
        @media screen and (max-width: 700px){
          display: none;
        }
      }
      &:after{
        left: calc(100% + 16px) !important;
      }
    }
    &:before{
      content: '';
      position: absolute;
      bottom: -35px;
      left: -35px;
      z-index: 2;
      width: 50px;
      height: 50px;
      background: #282b2f;
      @media screen and (max-width: 1200px){
        bottom: -40px;
        left: -40px;
      }
      @media screen and (max-width: 1024px){
        bottom: -45px;
        left: -45px;
      }
      @media screen and (max-width: 900px){
        bottom: -50px;
        left: -50px;
      }
      @media screen and (max-width: 800px){
        bottom: -55px;
        left: -55px;
      }
      @media screen and (max-width: 700px){
        bottom: -60px;
        left: -60px;
      }
      @media screen and (max-width: 500px){
        bottom: -65px;
        left: -65px;
      }
      @media screen and (max-width: 400px){
        bottom: -70px;
        left: -70px;
      }
    }
  }

  .circle.active > .step:after {
    left: calc(100% + 15px);
  }

  .circle.done {
    border-bottom: 3px solid #2b87d5;
    border-left: 3px solid #2b87d5;
    border-right: 3px solid #31353a;
    border-top: 3px solid #31353a;

    .step:after {
      background-color: #2b87d5;
    }
  }

  .circle.active:last-child > .step:after {
    background-color: #2b87d5;
  }


}
