@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap&subset=latin-ext");
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.blue-text {
  color: #2b87d5;
}

.content {
  overflow: hidden;
  background-color: #31353a;
  position: relative;
  padding-bottom: 50px;
}
.content .content_header {
  background: url("../img/bg.png") no-repeat top center;
  background-size: 100% 100%;
  height: 370px;
  padding-top: 60px;
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  .content .content_header {
    background-size: 100% 90%;
  }
}
@media screen and (max-width: 500px) {
  .content .content_header {
    background-size: 100% 80%;
  }
}
@media screen and (max-width: 400px) {
  .content .content_header {
    background-size: 100% 77%;
  }
}
.content .content_header h1 {
  font-size: 62px;
  font-weight: 700;
  line-height: 75%;
  padding-bottom: 15px;
}
.content .content_header h2 {
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 10px;
}
.content .content_header p {
  font-size: 14px;
  font-weight: 400;
  color: #b5b5b5;
  max-width: 310px;
}
.content .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
@media screen and (max-width: 450px) {
  .content .container {
    padding: 0 15px;
  }
}
.content .steps_descriprion {
  background-color: #282b2f;
  padding: 20px 40px;
}
@media screen and (max-width: 600px) {
  .content .steps_descriprion {
    padding: 20px 10px;
  }
}
.content .steps_descriprion .nav-pills {
  position: relative;
  z-index: 10;
}
.content .steps_descriprion .nav-pills a {
  border-radius: 0;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  padding: 20px 0 !important;
}
.content .steps_descriprion .nav-pills a:hover {
  text-decoration: none;
}
.content .steps_descriprion .nav-pills a:not(:last-child) {
  border-bottom: 1px solid #3d4248;
}
.content .steps_descriprion .nav-pills a.active {
  position: relative;
  background-color: inherit;
  font-weight: bold;
  margin-left: 20px;
}
.content .steps_descriprion .nav-pills a.active:before {
  content: url("../img/mark.png");
  position: absolute;
  left: -20px;
  top: 20px;
  display: inline-block;
  height: 12px;
  width: 8px;
}
@media screen and (max-width: 768px) {
  .content .steps_descriprion .nav-pills a {
    padding: 10px 0 !important;
  }
  .content .steps_descriprion .nav-pills a.active:before {
    left: -20px;
    top: 10px;
  }
}
.content .steps_descriprion .tab-pane {
  padding-top: 20px;
  font-size: 14px;
  color: #9ea3a9;
}

.steps {
  margin: 70px 0 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .steps {
    margin: 40px 0 50px 0;
  }
}
.steps .circle {
  z-index: 2;
  display: block;
  border-radius: 100%;
  transform: rotate(-45deg);
  position: relative;
}
.steps .circle .step {
  transform: rotate(45deg);
  position: relative;
  z-index: 1;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  border: 8px solid #282b2f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #31353a;
}
.steps .circle .step h1 {
  font-size: 50px;
  font-weight: bold;
  color: #8d959f;
  margin-bottom: 0;
}
.steps .circle .step h2 {
  font-size: 20px;
  color: #8d959f;
  margin-bottom: 15px;
}
.steps .circle .step p {
  display: none;
  color: #7d848d;
  font-size: 16px;
  max-width: 60%;
  text-align: center;
}
.steps .circle .step:hover {
  cursor: pointer;
}
.steps .circle .step:after {
  width: 100px;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #282b2f;
  top: 50%;
  left: calc(100% + 8px);
  z-index: -1;
}
@media screen and (max-width: 600px) {
  .steps .circle .step:after {
    width: 50px;
  }
}
@media screen and (max-width: 1200px) {
  .steps .circle .step {
    width: 220px;
    height: 220px;
  }
}
@media screen and (max-width: 1024px) {
  .steps .circle .step {
    width: 190px;
    height: 190px;
  }
}
@media screen and (max-width: 900px) {
  .steps .circle .step {
    width: 170px;
    height: 170px;
  }
  .steps .circle .step h1 {
    font-size: 40px;
    margin-bottom: 0;
  }
  .steps .circle .step h2 {
    font-size: 17px;
    margin-bottom: 10px;
  }
  .steps .circle .step p {
    font-size: 13px;
  }
}
@media screen and (max-width: 800px) {
  .steps .circle .step {
    width: 150px;
    height: 150px;
  }
  .steps .circle .step h1 {
    font-size: 30px;
    margin-bottom: 0;
  }
  .steps .circle .step h2 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .steps .circle .step p {
    font-size: 11px;
  }
}
@media screen and (max-width: 700px) {
  .steps .circle .step {
    width: 120px;
    height: 120px;
  }
  .steps .circle .step h1 {
    font-size: 25px;
    margin-bottom: 0;
  }
  .steps .circle .step h2 {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .steps .circle .step {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 500px) {
  .steps .circle .step {
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 400px) {
  .steps .circle .step {
    width: 60px;
    height: 60px;
  }
}
.steps .circle:last-child .step:after {
  width: 1000px;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #282b2f;
  top: 50%;
  left: calc(100% + 8px);
  z-index: -1;
}
.steps .circle:first-child .step:before {
  width: 1000px;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #2b87d5;
  top: 50%;
  right: calc(100% + 8px);
  z-index: -1;
}
.steps .circle.active {
  position: relative;
}
.steps .circle.active .step {
  z-index: 10000;
  box-shadow: 0 0 0 8px #2b87d5;
}
.steps .circle.active .step h1, .steps .circle.active .step h2 {
  color: #ffffff;
}
.steps .circle.active .step p {
  display: inline-block;
  color: #7d848d;
  font-size: 16px;
  max-width: 60%;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .steps .circle.active .step p {
    display: none;
  }
}
.steps .circle.active:before {
  content: "";
  position: absolute;
  bottom: -35px;
  left: -35px;
  z-index: 2;
  width: 50px;
  height: 50px;
  background: #282b2f;
}
@media screen and (max-width: 1200px) {
  .steps .circle.active:before {
    bottom: -40px;
    left: -40px;
  }
}
@media screen and (max-width: 1024px) {
  .steps .circle.active:before {
    bottom: -45px;
    left: -45px;
  }
}
@media screen and (max-width: 900px) {
  .steps .circle.active:before {
    bottom: -50px;
    left: -50px;
  }
}
@media screen and (max-width: 800px) {
  .steps .circle.active:before {
    bottom: -55px;
    left: -55px;
  }
}
@media screen and (max-width: 700px) {
  .steps .circle.active:before {
    bottom: -60px;
    left: -60px;
  }
}
@media screen and (max-width: 500px) {
  .steps .circle.active:before {
    bottom: -65px;
    left: -65px;
  }
}
@media screen and (max-width: 400px) {
  .steps .circle.active:before {
    bottom: -70px;
    left: -70px;
  }
}
.steps .circle.active > .step:after {
  left: calc(100% + 15px);
}
.steps .circle.done {
  border-bottom: 3px solid #2b87d5;
  border-left: 3px solid #2b87d5;
  border-right: 3px solid #31353a;
  border-top: 3px solid #31353a;
}
.steps .circle.done .step:after {
  background-color: #2b87d5;
}
.steps .circle.active:last-child > .step:after {
  background-color: #2b87d5;
}

/*# sourceMappingURL=style.css.map */
