*{
    padding:0;
    margin:0;
}
.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
body{
    background-color: #e7e5d0;
}
.header >img{
    width: 100%;
    height: 100%;
    z-index: 1;
}
.menu > ul {
    display: flex;
    list-style: none;
    width: auto;
    align-items: stretch;

}
.menu > ul> li {
    margin: auto 0;

}
.menu > ul> li>  a{
    text-decoration: none;
    font-family: 'Times New Roman' ;
    font-weight: bold;
    color: #1a1a1a;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 10px;
    padding: 0 5px 0 0;
}
@media screen and (max-device-width: 640px) {
    .menu > ul> li>  a{
        font-size: 35px;
        margin: 0 auto;
    }
    .menu >ul{
        margin-top: 9%;
    }
    .menu>ul> li> .logo{
        display: none;
    }
    .menu:before{
        content: url("images/logo.png");
        margin: 0 35%;
    }
}
header>.menu{
    margin-top: 30px;
    width: auto;
    position: absolute;
    z-index: 2;
}
.menu > ul> li>  a:hover:not(.logo){
    border-bottom: solid 2px #1a1a1a;
}
.about-us{
    display: flex;
    min-height: 500px;
    flex-wrap: wrap;
}
.about-us-block{
    display: flex;
}
@media screen and (max-device-width: 640px) {
    .about-us-promo {
        flex-wrap: wrap;
    }
}
.about-us-promo{
    height: auto;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
}
.about-us-promo >img{
    width: 100%;
    height: 100%;
}
.about-us-promo >p{
    font-size: 36px;
    font-weight: bolder;
    position: absolute;
    padding: 40px;
    border: 10px solid black;
    text-transform: uppercase;
}
@media screen and (max-device-width: 640px) {
    .about-us-promo {
        width: 100%;
        height: 500px;
    }
    .about-us-promo > p{
        font-size: 70px;
    }
}
.about-us-information{
    width: 50%;
    background-color: #f2efe5;
    flex-direction: column;
    font-family: "Times New Roman Regular";
    font-size: 1em;
}
@media screen and (max-device-width: 640px) {
        .about-us-information {
        width: 100%;
    }
    .about-us-information> p{
        margin: 3%;
    }
    .about-us-information > img{
        transform: scale(2.0);
    }
}
.about-us-information> p{
    margin: 10%;
}
.headline{
    text-align: center;
    margin-bottom: 0;

}
.about-us-information> img{
    width: 84px;
    height: 58px;
    margin: 10% 50% 0 50%;
    padding: 0;
    position: center;
}
.about-us-gallery{
    width: 100%;
    flex-wrap: wrap;
}
.gallery-block {
    width: 16.66%;
    height: 50%;
    position: relative;
    z-index: 10;
}
@media screen and (max-device-width: 640px) {
    .gallery-block {
        width: 25%;
    }
}
.gallery-block >img{
    width: 100%;
    height: 100%;
    display: block;
}
.gallery-mask{
    opacity:0;
    transition: opacity 300ms;
    position: absolute;
    z-index: 20;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(204, 200, 182, 0.44);
}
.gallery-mask:hover{
    opacity: 1;
    cursor: pointer;
}
.gallery-mask >img:hover{
    transform: scale(1.2);
}
.gallery-icons >img:hover{
    transform: scale(1.2);
}
.hover-zoom{
    margin: 40% 50% 0 50% ;
    height: auto;
}
.gallery-icons{
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 20;
    bottom: 10%;
    width: 100%;
}
.gallery-icons >img{
    display: block;
    margin: auto;
}
.about-us-citation{
    font-family: "Times New Roman Bold Italic";
    color: #f2efe5;
    background: url("images/citation-bg.png") no-repeat;
    background-size: cover;
}
.about-us-citation >blockquote{
    margin: 10% 10% 5% 10%;
    font-size: 1.5em;
    text-align: center;
}
.about-us-citation >blockquote >cite{
    font-size: 0.8em;
    float: right;
    margin-top: 5%;
}
.about-us-citation >blockquote>p:before {
    content: url("images/blockquotes.png");
    display: block;
    float: left;
    }
.about-us-citation >blockquote>p:after {
    content: url("images/blockquotes.png");
    display: block;
    transform: rotate(180deg);
    float: right;
}
.about-us-team{
    display: flex;
    flex-wrap: wrap;
}
.team-block{
    width: 33.33%;
    display: flex;
}

/*@media screen and (max-device-width: 640px) {*/
    /*.team-block {*/
        /*width: 100%;*/
        /*flex-wrap: wrap;*/
    /*}*/
/*}*/
.team-title >img{
    width: 100%;
    height: 100%;
}
.team-title{
    justify-content: center;
    align-items: center;
    position: relative;
}
.team-title>p{
    font-size: 36px;
    font-weight: bolder;
    position: absolute;
    padding: 40px;
    border: 10px solid black;
    text-transform: uppercase;
}
.team-photo>img{
    width: 100%;
    height: 100%;
}
.team-description{
    flex-direction: column;
    background: #ccc8b6;
}
.team-description >h2{
    font-size: 1.5em;
    font-family: "Times New Roman";
    font-weight: bold;
    text-transform: uppercase;
    margin: 20% auto 10% auto;
}
.team-description>p{
    font-size: 0.8em;
    font-family: "Opensans";
    font-weight: bold;
    margin: 0 5%;
    text-align: justify;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10%;
}
.social>img:first-child{
    position: relative;
}
.team-newsletter{
    background-color: #f2efe5;
    display: flex;
    flex-direction: column;
}
.team-newsletter >h2{
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    margin: 25% 15% 0 20%;
}
.team-newsletter >p{
    text-transform: uppercase;
    font-size: 0.75em;
    margin: 0 15% 0 20%;
}
input{
    width: 95%;
    border: 1px solid black;
    background-color: #f2efe5;
    font-size: 0.75em;
    font-family: "Times New Roman";
    text-transform: uppercase;
    color: #adaba4;
    padding: 5% 0 5% 5%;
}
input >.button{
    background-color: #77745a;
    color: #ffffff;
}
form{
    width: 60%;
    margin: 10% auto 0 auto;
}
.button{
    margin-top: 10%;
    width: 100%;
    border: none;
    background-color: #9a977a;
    padding: 5% 0 5% 5%;
    color: #ffffff;
    font-size: 0.75em;
    font-family: "Times New Roman";
    text-transform: uppercase;
}
.button:hover{
    background-color: #77745a;
    color: #ffffff;
}
.about-us-twitter{
    font-family: "Times New Roman Bold Italic";
    color: #f2efe5;
    background: url("images/twitter-bg.png") no-repeat;
    background-size: cover;
}
.about-us-twitter>blockquote{
    margin: 10% 10% 5% 10%;
    font-size: 1.5em;
    text-align: center;
    position: relative;
}
.about-us-twitter>blockquote:before{
    content: url("images/twitter-white.png");
    position: absolute;
    margin-top: -5%;
}
.gallery-promo{
    height: auto;
    width: 40%;
    position: relative;
    background-color: #afac9c;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.gallery-promo >p{
    font-size: 36px;
    font-weight: bolder;
    position: absolute;
    padding: 40px;
    border: 10px solid black;
    text-transform: uppercase;
    background-color: inherit;
    margin: auto;
}
.gallery-2> .gallery-block{
    width: 20%;
}
.contact-us{
    flex-direction: row;
    padding: 7%;
}
.contacts-block{
    flex-direction: column;
    width: 50%;
}
.contacts-promo{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.contacts-promo >p{
    font-size: 2em;
    font-weight: bolder;
    padding: 0.8em;
    border: 10px solid black;
    text-transform: uppercase;
    background-color: inherit;
    margin: auto auto 7% auto;
}
.contacts{
    display: flex;
    flex-direction: row;
    margin: 10% auto 0 auto;
    justify-content: space-between;
}
.contacts-content{
    width: 48%;
}
.contacts-content>h2{
    padding-bottom: 10%;
}
.message >form{
    width: 70%;
    margin: 10% auto 0 auto;
    background-color: inherit;
}
.message> form> input{
    margin: 5% 0 ;
    background-color: inherit;
}
.message > form> .button{
    width: 80%;
    background-color: #9a977a;
}
.social-container{
    position: relative;
}
.social-logo-hover{
    position: absolute;
    opacity: 0;
    z-index: 20;
    top: 0;
}
.social-logo-hover:hover{
    opacity: 1;
}
.about-us-mup{
    position: relative;
}
.about-us-mup>img{
    display: block;
    width: 100%;
}
.about-us-mup:before{
    content: url("images/pin.png");
    position: absolute;
    top: 40%;
    left: 50%;
}
footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #aeaeae;
}
footer>.menu{
    margin: 7%;
    width: auto;
}
footer>p{
    font-family: "Times New Roman";
    margin-bottom: 3%;
}

@font-face{
    font-family: "Times New Roman Bold Italic";
    src: url("fonts/Times New Roman Bold Italic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "Opensans";
    src: url("fonts/Opensans.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}



/*@media screen and (max-device-width: 640px) {*/
   /*.about-us-information{*/
    /*width: 50%;*/
    /*background-color: #f2efe5;*/
    /*flex-direction: column;*/
    /*font-family: "Times New Roman Regular";*/
    /*font-size: 1em;*/
/*} */
