@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
}

.cards{
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (max-device-width: 1165px){
    justify-content: space-around;
  }
  .card{
    max-width: 300px;
    background-color: inherit;
    border: none;
    margin-right: 10px;
    .card_header{
      background-color: #ffffff;
      padding: 20px 0 10px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 0 40px rgba(167, 167, 167, 0.25);
      border-radius: 5px;
      margin-bottom: 90px;
      @media screen and (max-width: 688px){
        margin-bottom: 30px;

      }
      img{
        display: block;
        width: 180px;
        height: 100px;
        margin-bottom: 10px;
      }
      p{
        font-size: 17px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-align: center;
      }
    }
    p{
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      color: #212121;
    }
  }
}

.container{
  max-width: 60%;
  padding: 100px 0;
  @media screen and (max-device-width: 1330px){
    max-width: 70% !important;
    padding: 50px 0;
  }
  @media screen and (max-device-width: 1165px){
    max-width: 80% !important;
  }
}


.grey-button{
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 600;
  color: #626262 !important;
  padding: 10px 20px;
  border: 1px solid #515151;
  border-radius: 3px;
}

.grey-button:hover{
  color: #9c9c9c !important;
  border-color: #9c9c9c;
}

.header{
  background-image: url("../img/wave-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  //background-position: center center;
  background-color: #0A0A0A;

  .menu{
    max-width: 90%;
    margin: 0 auto 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    img{
      width: 53px;
      height: 28px;
    }
  }
  p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #ffffff;
    max-width: 735px;
    margin-bottom: 80px;

  }
  .violet-button{
    margin-bottom: 100px;
  }
  @media screen and (max-width: 768px){
    p {
      font-size: 16px;
    }
    .violet-button{
      margin-bottom: 40px;
    }
  }
}

h1{
  font-size: 75px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #ffffff;
  max-width: 925px;
  margin-bottom: 80px;
  @media screen and (max-width: 768px){
    font-size: 40px;
    margin-bottom: 40px;
  }
}
h2{
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #212121;
  max-width: 925px;
  margin-bottom: 50px;
  @media screen and (max-width: 768px){
    font-size: 30px;
    margin-bottom: 40px;
  }
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 22px;
  color: #212121;
  max-width: 625px;
  margin-bottom: 50px;
  @media screen and (max-width: 768px){
    font-size: 18px;
    margin-bottom: 40px;
  }
}

.violet-button{
  display: block;
  max-width: 170px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff !important;
  background-color: #5200D7;
  padding: 12px 26px;
  border: 1px solid #5200D7;
  border-radius: 6px;
}

.violet-button:hover{
  color: #ffffff !important;
  border-color: #621ad6 ;
  background-color: #621ad6;

}

