@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
.authentication-wrapper,
.authentication-wrapper {
  background-color: #ffffff;
}

.blue-color {
  color: #5AE2EB !important;
}

.btn-blue {
  background-color: #5AE2EB;
  color: #ffffff;
  border-color: transparent;
}

.desktop-menu {
  position: relative;
  z-index: 11;
}

.dropdown-desktop-menu {
  position: absolute;
  left: 0;
}

.dropdown-left {
  transform: translateX(100px);
}

#dropdown-desktop-menu-1 {
  z-index: 9;
}

.error {
  display: block;
  color: #FF0000;
  margin-bottom: 15px;
  font-size: 13px !important;
  font-weight: 300 !important;
}

.help-text {
  font-size: 13px !important;
  font-weight: 300 !important;
}

.navbar-collapse {
  font-weight: 300 !important;
  color: #757575;
}
.navbar-collapse .dropdown-menu-right .dropdown-item {
  font-weight: 300 !important;
  color: #757575;
}
.navbar-collapse .navbar-search-box .navbar-search-input .form-control {
  font-weight: 300 !important;
  color: #757575;
}

.layout-container {
  background-color: #ffffff;
}

.layout-sidenav {
  box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.02);
  height: 100%;
}

.logo-block svg {
  margin-right: 10px;
}
.logo-block .app-brand-logo {
  display: inline-block !important;
}

.logo {
  font-size: 16px;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  color: #4E5155 !important;
  margin: auto 0;
}

@media screen and (max-width: 1024px) {
  .layout-sidenav {
    box-shadow: none;
  }
}
@media screen and (min-width: 769px) {
  .mobile-menu {
    display: none;
  }

  .layout-sidenav-toggle {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  #dropdown_menu_1,
#dropdown_menu_2,
#dropdown_menu_3,
#dropdown_menu_4 {
    display: none;
  }
}
@media screen and (width: 1024px) {
  .sidenav-vertical {
    width: 11rem;
  }

  .dropdown-left {
    transform: translateX(170px);
  }
}
.sidenav-link h5 {
  font-size: 18px !important;
}

.custom-control.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before,
.custom-control.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #5AE2EB !important;
  border-color: #5AE2EB !important;
}

h6 {
  font-size: 16px !important;
  font-weight: 300 !important;
  color: #212121 !important;
}

h5 {
  font-size: 24px !important;
  font-weight: 700 !important;
  color: #212121 !important;
}

.pure-material-textfield-outlined {
  --pure-material-safari-helper1: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  position: relative;
  display: inline-block;
  padding-top: 6px;
  font-family: var(--pure-material-font, "Roboto");
  font-size: 14px !important;
  font-weight: 300 !important;
  line-height: 1.5;
  overflow: hidden;
  width: 100%;
}

/* Input, Textarea */
.pure-material-textfield-outlined > input,
.pure-material-textfield-outlined > textarea {
  box-sizing: border-box;
  margin: 0;
  border: solid 1px;
  /* Safari */
  border-color: #D3D3D3;
  border-top-color: transparent;
  border-radius: 4px;
  padding: 15px 13px 15px;
  width: 100%;
  height: 44px !important;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  background-color: transparent;
  box-shadow: none;
  /* Firefox */
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  caret-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  transition: border 0.2s, box-shadow 0.2s;
}

/* Span */
.pure-material-textfield-outlined > input + span,
.pure-material-textfield-outlined > textarea + span {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  width: 100%;
  max-height: 100%;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  font-size: 90%;
  line-height: 15px;
  cursor: text;
  transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

/* Corners */
.pure-material-textfield-outlined > input + span::before,
.pure-material-textfield-outlined > input + span::after,
.pure-material-textfield-outlined > textarea + span::before,
.pure-material-textfield-outlined > textarea + span::after {
  content: "";
  display: block;
  box-sizing: border-box;
  margin-top: 6px;
  border-top: solid 1px;
  border-top-color: #D3D3D3;
  min-width: 10px;
  height: 8px;
  pointer-events: none;
  box-shadow: inset 0 1px transparent;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.pure-material-textfield-outlined > input + span::before,
.pure-material-textfield-outlined > textarea + span::before {
  margin-right: 4px;
  border-left: solid 1px transparent;
  border-radius: 4px 0;
}

.pure-material-textfield-outlined > input + span::after,
.pure-material-textfield-outlined > textarea + span::after {
  flex-grow: 1;
  margin-left: 4px;
  border-right: solid 1px transparent;
  border-radius: 0 4px;
}

/* Hover */
.pure-material-textfield-outlined:hover > input,
.pure-material-textfield-outlined:hover > textarea {
  border-color: #D3D3D3;
  border-top-color: transparent;
}

.pure-material-textfield-outlined:hover > input + span::before,
.pure-material-textfield-outlined:hover > textarea + span::before,
.pure-material-textfield-outlined:hover > input + span::after,
.pure-material-textfield-outlined:hover > textarea + span::after {
  border-top-color: #D3D3D3;
}

.pure-material-textfield-outlined:hover > input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined:hover > textarea:not(:focus):placeholder-shown {
  border-color: #D3D3D3;
}

/* Placeholder-shown */
.pure-material-textfield-outlined > input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown {
  border-top-color: #D3D3D3;
}

.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span {
  font-size: inherit;
  line-height: 60px;
}

.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span::before,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span::before,
.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span::after,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span::after {
  border-top-color: transparent;
}

/* Focus */
.pure-material-textfield-outlined > input:focus,
.pure-material-textfield-outlined > textarea:focus {
  border-color: #D3D3D3;
  border-top-color: transparent;
  box-shadow: inset 1px 0 #D3D3D3, inset -1px 0 #D3D3D3, inset 0 -1px #D3D3D3;
  outline: none;
}

.pure-material-textfield-outlined > input:focus + span,
.pure-material-textfield-outlined > textarea:focus + span {
  color: #D3D3D3;
}

.pure-material-textfield-outlined > input:focus + span::before,
.pure-material-textfield-outlined > input:focus + span::after,
.pure-material-textfield-outlined > textarea:focus + span::before,
.pure-material-textfield-outlined > textarea:focus + span::after {
  border-top-color: #D3D3D3 !important;
  box-shadow: inset 0 1px #D3D3D3;
}

/* Disabled */
.pure-material-textfield-outlined > input:disabled,
.pure-material-textfield-outlined > input:disabled + span,
.pure-material-textfield-outlined > textarea:disabled,
.pure-material-textfield-outlined > textarea:disabled + span {
  border-color: #D3D3D3 !important;
  border-top-color: transparent !important;
  color: #D3D3D3;
  pointer-events: none;
}

.pure-material-textfield-outlined > input:disabled + span::before,
.pure-material-textfield-outlined > input:disabled + span::after,
.pure-material-textfield-outlined > textarea:disabled + span::before,
.pure-material-textfield-outlined > textarea:disabled + span::after {
  border-top-color: #D3D3D3 !important;
}

.pure-material-textfield-outlined > input:disabled:placeholder-shown,
.pure-material-textfield-outlined > input:disabled:placeholder-shown + span,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span {
  border-top-color: #D3D3D3 !important;
}

.pure-material-textfield-outlined > input:disabled:placeholder-shown + span::before,
.pure-material-textfield-outlined > input:disabled:placeholder-shown + span::after,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span::before,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span::after {
  border-top-color: transparent !important;
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .pure-material-textfield-outlined > input,
.pure-material-textfield-outlined > input + span,
.pure-material-textfield-outlined > textarea,
.pure-material-textfield-outlined > textarea + span,
.pure-material-textfield-outlined > input + span::before,
.pure-material-textfield-outlined > input + span::after,
.pure-material-textfield-outlined > textarea + span::before,
.pure-material-textfield-outlined > textarea + span::after {
      transition-duration: 0.1s;
    }
  }
}
.pure-material-textfield-outlined > input,
.pure-material-textfield-outlined > textarea {
  box-sizing: border-box;
  margin: 0;
  border: solid 1px;
  /* Safari */
  border-color: #D3D3D3;
  border-top-color: transparent;
  border-radius: 4px;
  padding: 15px 13px 15px;
  width: 100%;
  height: inherit;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  background-color: transparent;
  box-shadow: none;
  /* Firefox */
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  caret-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  transition: border 0.2s, box-shadow 0.2s;
}

/* Span */
.pure-material-textfield-outlined > input + span,
.pure-material-textfield-outlined > textarea + span {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  width: 100%;
  max-height: 100%;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  font-size: 90%;
  line-height: 15px;
  cursor: text;
  transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

/* Corners */
.pure-material-textfield-outlined > input + span::before,
.pure-material-textfield-outlined > input + span::after,
.pure-material-textfield-outlined > textarea + span::before,
.pure-material-textfield-outlined > textarea + span::after {
  content: "";
  display: block;
  box-sizing: border-box;
  margin-top: 6px;
  border-top: solid 1px;
  border-top-color: #D3D3D3;
  min-width: 10px;
  height: 8px;
  pointer-events: none;
  box-shadow: inset 0 1px transparent;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.pure-material-textfield-outlined > input + span::before,
.pure-material-textfield-outlined > textarea + span::before {
  margin-right: 4px;
  border-left: solid 1px transparent;
  border-radius: 4px 0;
}

.pure-material-textfield-outlined > input + span::after,
.pure-material-textfield-outlined > textarea + span::after {
  flex-grow: 1;
  margin-left: 4px;
  border-right: solid 1px transparent;
  border-radius: 0 4px;
}

/* Hover */
.pure-material-textfield-outlined:hover > input,
.pure-material-textfield-outlined:hover > textarea {
  border-color: #D3D3D3;
  border-top-color: transparent;
}

.pure-material-textfield-outlined:hover > input + span::before,
.pure-material-textfield-outlined:hover > textarea + span::before,
.pure-material-textfield-outlined:hover > input + span::after,
.pure-material-textfield-outlined:hover > textarea + span::after {
  border-top-color: #D3D3D3;
}

.pure-material-textfield-outlined:hover > input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined:hover > textarea:not(:focus):placeholder-shown {
  border-color: #D3D3D3;
}

/* Placeholder-shown */
.pure-material-textfield-outlined > input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown {
  border-top-color: #D3D3D3;
}

.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span {
  font-size: inherit;
  line-height: 60px;
}

.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span::before,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span::before,
.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span::after,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span::after {
  border-top-color: transparent;
}

/* Focus */
.pure-material-textfield-outlined > input:focus,
.pure-material-textfield-outlined > textarea:focus {
  border-color: #D3D3D3;
  border-top-color: transparent;
  box-shadow: inset 1px 0 #D3D3D3, inset -1px 0 #D3D3D3, inset 0 -1px #D3D3D3;
  outline: none;
}

.pure-material-textfield-outlined > input:focus + span,
.pure-material-textfield-outlined > textarea:focus + span {
  color: #D3D3D3;
}

.pure-material-textfield-outlined > input:focus + span::before,
.pure-material-textfield-outlined > input:focus + span::after,
.pure-material-textfield-outlined > textarea:focus + span::before,
.pure-material-textfield-outlined > textarea:focus + span::after {
  border-top-color: #D3D3D3 !important;
  box-shadow: inset 0 1px #D3D3D3;
}

/* Disabled */
.pure-material-textfield-outlined > input:disabled,
.pure-material-textfield-outlined > input:disabled + span,
.pure-material-textfield-outlined > textarea:disabled,
.pure-material-textfield-outlined > textarea:disabled + span {
  border-color: #D3D3D3 !important;
  border-top-color: transparent !important;
  color: #D3D3D3;
  pointer-events: none;
}

.pure-material-textfield-outlined > input:disabled + span::before,
.pure-material-textfield-outlined > input:disabled + span::after,
.pure-material-textfield-outlined > textarea:disabled + span::before,
.pure-material-textfield-outlined > textarea:disabled + span::after {
  border-top-color: #D3D3D3 !important;
}

.pure-material-textfield-outlined > input:disabled:placeholder-shown,
.pure-material-textfield-outlined > input:disabled:placeholder-shown + span,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span {
  border-top-color: #D3D3D3 !important;
}

.pure-material-textfield-outlined-error > input,
.pure-material-textfield-outlined-error > textarea {
  border-color: #FF0000;
  border-top-color: transparent;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  box-shadow: none;
  /* Firefox */
  caret-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  transition: border 0.2s, box-shadow 0.2s;
}

/* Span */
.pure-material-textfield-outlined-error > input + span,
.pure-material-textfield-outlined-error > textarea + span {
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

/* Corners */
.pure-material-textfield-outlined-error > input + span::before,
.pure-material-textfield-outlined-error > input + span::after,
.pure-material-textfield-outlined-error > textarea + span::before,
.pure-material-textfield-outlined-error > textarea + span::after {
  border-top-color: #FF0000;
  box-shadow: inset 0 1px transparent;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.pure-material-textfield-outlined-error > input + span::after,
.pure-material-textfield-outlined-error > textarea + span::after {
  border-right: solid 1px transparent;
}

/* Hover */
.pure-material-textfield-outlined-error:hover > input,
.pure-material-textfield-outlined-error:hover > textarea {
  border-color: #FF0000;
  border-top-color: transparent;
}

.pure-material-textfield-outlined-error:hover > input + span::before,
.pure-material-textfield-outlined-error:hover > textarea + span::before,
.pure-material-textfield-outlined-error:hover > input + span::after,
.pure-material-textfield-outlined-error:hover > textarea + span::after {
  border-top-color: #FF0000;
}

.pure-material-textfield-outlined-error:hover > input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined-error:hover > textarea:not(:focus):placeholder-shown {
  border-color: #FF0000;
}

/* Placeholder-shown */
.pure-material-textfield-outlined-error > input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined-error > textarea:not(:focus):placeholder-shown {
  border-top-color: #FF0000;
}

.pure-material-textfield-outlined-error > input:not(:focus):placeholder-shown + span,
.pure-material-textfield-outlined-error > textarea:not(:focus):placeholder-shown + span {
  font-size: inherit;
  line-height: 60px;
}

.pure-material-textfield-outlined-error > input:not(:focus):placeholder-shown + span::before,
.pure-material-textfield-outlined-error > textarea:not(:focus):placeholder-shown + span::before,
.pure-material-textfield-outlined-error > input:not(:focus):placeholder-shown + span::after,
.pure-material-textfield-outlined-error > textarea:not(:focus):placeholder-shown + span::after {
  border-top-color: transparent;
}

/* Focus */
.pure-material-textfield-outlined-error > input:focus,
.pure-material-textfield-outlined-error > textarea:focus {
  border-color: #FF0000;
  border-top-color: transparent;
  box-shadow: inset 1px 0 #FF0000, inset -1px 0 #FF0000, inset 0 -1px #FF0000;
  outline: none;
}

.pure-material-textfield-outlined-error > input:focus + span,
.pure-material-textfield-outlined-error > textarea:focus + span {
  color: #FF0000;
}

.pure-material-textfield-outlined-error > input:focus + span::before,
.pure-material-textfield-outlined-error > input:focus + span::after,
.pure-material-textfield-outlined-error > textarea:focus + span::before,
.pure-material-textfield-outlined-error > textarea:focus + span::after {
  border-top-color: #FF0000 !important;
  box-shadow: inset 0 1px #FF0000;
}

/* Disabled */
.pure-material-textfield-outlined-error > input:disabled,
.pure-material-textfield-outlined-error > input:disabled + span,
.pure-material-textfield-outlined-error > textarea:disabled,
.pure-material-textfield-outlined-error > textarea:disabled + span {
  border-color: #FF0000 !important;
  border-top-color: transparent !important;
  color: #FF0000;
}

.pure-material-textfield-outlined-error > input:disabled + span::before,
.pure-material-textfield-outlined-error > input:disabled + span::after,
.pure-material-textfield-outlined-error > textarea:disabled + span::before,
.pure-material-textfield-outlined-error > textarea:disabled + span::after {
  border-top-color: #FF0000 !important;
}

.pure-material-textfield-outlined-error > input:disabled:placeholder-shown,
.pure-material-textfield-outlined-error > input:disabled:placeholder-shown + span,
.pure-material-textfield-outlined-error > textarea:disabled:placeholder-shown,
.pure-material-textfield-outlined-error > textarea:disabled:placeholder-shown + span {
  border-top-color: #FF0000 !important;
}

/*# sourceMappingURL=custom-css.css.map */
