@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700);
body {
    background: #ffffff;
}

#myCarousel .list-inline {
  white-space:nowrap;
}
.carousel-indicators .active{
  border: 2px solid #1a8bba;
}

.carousel-item{
  height: 300px;
}
.contacts{
  padding-top: 8rem;
  h1{
    font-family: 'Montserrat';
    font-weight: 600;
    size: 32px;
    color: #0D39AB;
  }
  h5{
    font-family: 'Montserrat';
    font-weight: 600;
    size: 24px;
    color: #2353CD;
  }
  .ui-company-text{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
    color: #3c444f;
  }
  form .form-label{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
  }
}

#myCarousel .carousel-indicators {
  position: static;
  left: initial;
  width: initial;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

#myCarousel .carousel-indicators > li {
  width: 80px;
  height: 80px;
  text-indent: initial;
}

#myCarousel .carousel-indicators > li.active img {
  opacity: 0.7;
}
html:not([dir=rtl]) .border {
  border: none !important;
}
.text-block{
  margin-right: 3%;
  h1{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 32px;
    color: #0D39AB;
  }
  p{
    color: #212121 !important;
    font-family: 'Montserrat';
    font-weight: 400 !important;
  }
  .breadcrumb-item{
    font-size: 12px;
    color: #757575;
    font-family: 'Montserrat';
    font-weight: 300;
  }
  .breadcrumb-item:hover{
    color: #212121;
  }
  .breadcrumb .active{
    color: #212121;
  }
}
  .navbar.bg-white .navbar-nav .nav-link {
    color: #0D39AB;
    font-family: 'Montserrat Medium';
    font-size: 14px;
  }
  .navbar.bg-white .navbar-nav .nav-link:hover {
    color: #2353CD;
  }
  .navbar.bg-white .navbar-nav .show>.nav-link, .navbar.bg-white .navbar-nav .active>.nav-link, .navbar.bg-white .navbar-nav .nav-link.show, .navbar.bg-white .navbar-nav .nav-link.active  {
    color: #2353CD;
  }
  .header-nav{
    margin: 0;
  }
  .navbar{
    padding: 0 80px;
  }
  .header-1{
    justify-content: flex-end;
  }
.buy-button{
  margin-right: 0;
  flex-grow: 0;
}
.jumbotron h1{
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 48px;
}
.jumbotron .lead{
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 20px;
}
  #about_matters, #about_anchor {
    padding-top: 80px;
    margin-top: -80px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
  }

  html:not([dir=rtl]) .pb-3, html:not([dir=rtl]) .py-3 {
    padding-bottom: 0 !important;
  }
  html:not([dir=rtl]) .pt-3, html:not([dir=rtl]) .py-3 {
    padding-top: 0 !important;
  }
  .btn-primary {
    border-color: transparent;
    background: #2353CD;
    color: #fff;
    font-family: 'Montserrat SemiBold';
    font-size: 13px;
    border-radius: 30px;
  }
  .btn-primary:hover {
    background: #0D39AB;
  }
  .btn-lg, .btn-group-lg>.btn {
    border-radius: 30px;
    font-family: 'Montserrat SemiBold';
    font-size: 13px;
  }
  .uikit-example {
  position: relative;
}

.uikit-company-example .uikit-example {
  padding-top: 4rem;
  padding-bottom: 1rem;
}
.uikit-company-example{
  background-color: #ffffff;
}
.promo-center-text{
    margin: 2rem 0 5rem 0;
}
  .promo-center-text >h1{
    font-family: 'AmaticSC';
    font-size: 50px;
    color: #2353CD;
    font-weight: bold;
  }
  .promo-center-text >.lead{
    font-family: 'Montserrat Medium';
    font-size: 22px;
    color: #212121 ;
  }
  .advantage-h5{
    color: #0D39AB;
    font-size: 18px;
    font-family: 'Montserrat SemiBold';
  }
  .advantage-text{
    color: #212121;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 300;
  }


[dir=rtl] .uikit-example-btns {
  right: auto;
  left: 0;
}

.uikit-example:hover .uikit-example-btns {
  top: -17px;
  opacity: 1;
}


.uikit-example-modal-opened .uikit-example-modal {
  display: flex;
}


/* Code */
.uikit-example-modal-content > pre {
  overflow: auto;
}

.uikit-example-modal-content > pre > code {
  padding: 0;
  background: none;
  font-size: 16px;
}

.header .uikit-example nav .container-fluid {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.header .uikit-example nav .container-fluid .button__btn {
  background-color: #5B0F80;
  font-family: "RobotoMedium";
  font-weight: normal;
  font-size: 12px;
  color: #fff;
  margin-left: 60px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header .uikit-example nav .container-fluid .button__btn:hover {
  background-color: #310645;
}

.header .uikit-example nav a {
  color: #ffffff;
  font-family: "RobotoMedium";
}

.header .uikit-example h1 {
  font-size: 3.5rem;
  font-weight: bold;
  font-family: sans-serif;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.header .header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__buttons a {
  font-family: "RobotoBold";
}

@media (max-width: 991px) {
  .header .uikit-example h1 {
    font-size: 2.5rem;
  }

  .header .uikit-example nav .container-fluid .button__btn {
    margin-left: 0;
  }
}

@media screen and (max-device-width: 569px) {
  .header__buttons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

}

@media (max-width: 575px) {
  .jumbotron {
    padding: 6rem 3rem 0rem 3rem !important;
  }
  .works__images {
    margin: 0 0 0 0;
  }
  .works__box {
    margin: 0 0 0 0;
  }
  .header .uikit-example h1 {
    font-size: 2rem;
  }

  .header .header__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .brand-advantages {
    margin-left: 0 !important;
  }
}

.service__block h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.75em;
  color: #212121;
  line-height: 1.6rem;
  padding-top: 2px;
  padding-bottom: 2px;
}
@media (max-width: 575px) {
  .service .service__head {
    font-size: 30px;
  }

  .service .service__header {
    font-size: 20px;
  }
}
.integration__block span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid #cacaca;
  border-radius: 60px;
}

.integration__block span small {
  font-size: 18px;
  color: #212121;
  font-family: 'Roboto', sans-serif;
}

.integration__block h5 {
  font-size: 18px;
  font-weight: 800;
  color: #212121;
  font-family: "RobotoBold";
}



.integration .button {
  background-color: #5B0F80;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.integration .button:hover {
  background-color: #310645;
}

@media (max-width: 575px) {
  .integration strong {
    font-size: 30px;
  }

  .integration .integration__header {
    font-size: 30px;
  }
}

.works .container-fluid {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.works__header {
  font-size: 46px;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: normal;
  color: #484848;
  font-family: sans-serif;
  padding-bottom: 30px;
  margin-top: 20px;
  padding-top: 30px;
}

.works__box {
  padding: 60px;
  background-color: #f8f8f8;
  width: 100%;
  height: 500px;
}

.works__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #EDEDED;
}

.works__box h3 {
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 800;
  color: #484848;
  padding-top: 8px;
  padding-bottom: 8px;
}

.works__box p {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 300;
  color: #212121;
}

.works__images {
  margin-bottom: 20px;
  margin-top: 20px;
}
.works{
  background-color: #f8f8f8;
}
.works__header{
  background-color: white;
}
.imgblok1,
.imgblok2,
.imgblok3,
.imgblok4,
.imgblok5,
.imgblok6{
  background-size: 100% 100%;
}
.imgblok1 {
  background: url("assets/img/bg/bg-promo.jpg") no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.imgblok2 {
  background: url("assets/img/bg/bg-promo.jpg") no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.imgblok3 {
  background: url("assets/img/bg/bg-promo.jpg") no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  height: 500px;
}
.imgblok4 {
  background: url("assets/img/bg/bg-promo.jpg") no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  height: 500px;
}
.imgblok5 {
  background: url("assets/img/bg/bg-promo.jpg") no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  height: 500px;
}
.imgblok6 {
  background: url("assets/img/bg/bg-promo.jpg") no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  height: 500px;
}


@media (max-width: 575px) {
  .works .imgblok1 {
    height: 172px;
  }

  .works .imgblok2 {
    height: 172px;
  }

  .works .imgblok3 {
    height: 172px;
  }
  .works .imgblok4 {
    height: 172px;
  }
  .works .imgblok5 {
    height: 172px;
  }
  .works .imgblok6 {
    height: 172px;
  }

  .works .works__header {
    font-size: 30px;
  }

  .works .works__block .works__box {
    height: 400px;
    padding: 30px;
  }

  .works .works__block .works__box h3 {
    font-size: 24px;
  }

  .works .works__block .works__box p {
    font-size: 15px;
  }

  .works__images {
    margin-bottom: 5px;
    margin-top: 0;
  }

  .works__box {
    margin-bottom: 5px;
    margin-top: 0;
  }

  .good-promo > .container-fluid > .row {
    margin-right: -1rem;
    margin-left: -1rem;
  }

  .display-2 {
    font-size: 3.0rem;
  }
}


.prices h1 {
  color: #484848;
  font-family: sans-serif;
  font-size: 46px;
  font-weight: 600;
}



.prices__button a {
  background-color: #5B0F80;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.prices__button a:hover {
  background-color: #310645;
}

@media (max-width: 575px) {
  .prices h1 {
    font-size: 34px;
  }

  .prices .prices__button a {
    font-size: 12px;
  }
}
@media (max-width: 420px) {
  //.jumbotron{
  //padding-top: 8rem;
  //}
  a,p{
    display: inline-block;
  }
  .navbar{
    flex-direction: row;
    flex-wrap: nowrap !important;
    justify-content: space-around;
    padding: 0;
  }
}



.benefits .container-fluid {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}


.benefits__box h3 {
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 800;
  color: #484848;
  padding-top: 8px;
  padding-bottom: 8px;
}

.benefits__box p {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #212121;
}



.benefits__content h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.75em;
  color: #212121;
  line-height: 1.6rem;
  padding-top: 2px;
  padding-bottom: 2px;
}


@media (max-width: 991px) {
  .benefits .benefits__block {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .benefits .imgblok4 {
    background-size: contain;
  }
}

@media (max-width: 575px) {
  .benefits .benefits__images img {
    height: 270px;
  }

  .benefits .benefits__header {
    font-size: 34px;
  }

  .benefits .benefits__block .benefits__box {
    height: 0;
    padding: 30px;
  }

  .benefits .benefits__block .benefits__box h3 {
    font-size: 24px;
  }

  .benefits .benefits__block .benefits__box p {
    font-size: 15px;
  }

  .benefits img {
    height: 400px;
  }
}
.card{
  th{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
  }
}
.catalog-block:first-of-type{
  padding: 10rem 0 1rem 0 !important;
}
.catalog-block{
  padding: 1rem 0;
  h4{
    color: #0D39AB;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 28px;
  }
  li{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
  }
 .m-0 {
    margin: auto 0 !important;
  }
  .btn-outline-primary{
    border-color: #2353CD;
    color: #2353CD;
    border-radius: 25px;
  }
  .btn-outline-primary:hover{
    background-color: #2353CD;
    color: #ffffff;
  }
}
.modal-content{
  .card{
    border: none;
  }
  h3{
    color: #2353CD;
    font-family: 'Montserrat SemiBold';
  }
  h6{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
  }
  .badge-outline-default,
  .badge-primary{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
  }
  .badge-primary{
    background-color: #2353CD;
  }
  .badge-primary:hover{
    background-color: #0D39AB;
  }
  .btn-default:hover{
    border-color: #0D39AB;
    color: #0D39AB;
    background-color: #ffffff;
  }
  .btn-default:active{
    background-color: #2353CD;
  }
  .d-flex, .d-inline-flex, .media, .media>:not(.media-body), .jumbotron, .card {
    padding-top: 1rem;
  }
}
.contact form .contact__input label {
  font-size: 16px;
  color: #212121;
  font-family: "RobotoBold";
}

.contact form .contact__input input {
  width: 502px;
  height: 46px;
}

.contact form .contact__buttons {
  margin-left: 26px;
}
.contact form .contact__buttons .main-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.contact form .contact__buttons .main-checkbox .contact__info {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

.contact form .contact__buttons .main-checkbox .contact__info a:hover {
  text-decoration: underline;
}

.contact form .contact__buttons input[type="checkbox"] {
  display: none;
}

.contact form .contact__buttons .box-label {
  margin: 0;
}

.contact form .contact__buttons #checkbox1:checked + .box::before {
  content: "\f14a";
  color: #5B0F80;
}

.contact form .contact__buttons .box::before {
  content: "\f096";
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 0;
  width: 1em;
  display: inline-block;
  cursor: pointer;
  font-size: 1.6em;
  -webkit-animation: checkanimate 200ms;
  animation: checkanimate 200ms;
}

@-webkit-keyframes checkanimate {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes checkanimate {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.contact form .contact__btn {
  background-color: #5B0F80;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contact form .contact__btn:hover {
  background-color: #310645;
}

@media (max-width: 767px) {
  .contact form .contact__buttons {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .contact__header {
    font-size: 34px;
  }

  .contact form .contact__input input {
    width: 100%;
  }

  .contact form .contact__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 0;
  }

  .contact form .contact__buttons .main-checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
}

.footer {
  margin-top: 100px;
}



h5 {
  font-size: 1.5rem;
}

.footer__link a {
  text-decoration: none;
  color: #212121;
  font-family: "RobotoMedium";
  font-size: 13px;
}

.footer__info p {
  font-size: 11px;
  font-weight: 100;
  color: #757575;
}

.footer__info a {
  font-size: 11px;
  font-weight: 100;
  color: #757575;
}

.footer__info a:hover {
  text-decoration: underline;
}

.sleep-promo {
  color: #ffffff;
}


.sleep-promo:hover {
  color: #AFAFAF;
}

.advantages {
  margin-top: 4rem;
  margin-bottom: 2rem;

}

.advantage-block:hover {
  transform: scale(1.05);
}

.lead{
  font-size: 1.4rem;
}
.ui-company-text {
  font-size: 18px;
}

@media (max-width: 767px) {

  .footer__link a {
    margin-bottom: 15px;
    margin-right: 15px;
  }
}
  .logo-promo{
    display: inline-block;
    max-width: 130px;
    float: left;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Medium';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    color: #A0A0A0;
  }
.navbar-nav{
  font-family: 'Montserrat Medium';
  font-size: 14px;
  color: #0D39AB;
}
  .navbar-nav:hover{
    color: #2353CD;
  }
.works__header {
  color: #0D39AB;
  font-size: 35px;
  font-family: "Montserrat SemiBold";
  font-weight: bold;
}
.works{
  background-color: #ffffff;
}
.questions h1{
  color: #0D39AB;
  font-size: 35px;
  font-family: "Montserrat SemiBold";
  font-weight: bold;
}
.questions .text-muted{
  font-family: 'Montserrat';
  font-weight: 300;
}
.questions h5{
  font-size: 18px;
  color: #0D39AB;
  font-family: "Montserrat Medium";
}
.questions p{
  font-size: 14px;
  color: #212121;
  font-family: "Montserrat";
}
.questions .to-section{
  color: #0D39AB;
  font-size: 16px;
  font-family: "Montserrat Medium";
}
.questions .to-section:hover{
  color: grey;
  font-size: 16px;
}
.questions-block{
  padding-top: 10rem;
   h1{
    color: #0D39AB;
    font-size: 35px;
    font-family: "Montserrat SemiBold";
    font-weight: bold;
  }
  .text-muted{
    font-family: 'Montserrat';
    font-weight: 300;
  }
   h5{
    font-size: 18px;
    color: #0D39AB;
    font-family: "Montserrat Medium";
  }
   p{
    font-size: 14px;
    color: #212121;
    font-family: "Montserrat";
  }
}
.about-brand h1{
  color: #ffffff;
  font-size: 35px;
  font-family: "Montserrat SemiBold";
  font-weight: bold;
}
.specifications{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
  .specification{
  display: flex;
  flex-direction: column;
    width: 50%;
 }
  .specifications{
     h5 {
       text-transform: uppercase;
       color: #757575;
       font-size: 10px;
       font-family: "Montserrat";
       font-weight: 300;
       margin-bottom: 0;
     }
    p{
      color: black;
      font-size: 14px;
      font-family: "Montserrat";
    }
  }

.sleep-promo>h1{
  font-family: 'Montserrat SemiBold';
}
.sleep-promo>p{
  font-family: 'Montserrat';
  font-weight: 300;
}
.shopping-cart{
  padding-top: 8rem;
    tr th{
      font-family: 'Montserrat';
      font-size: 20px;
      font-weight: 400;
      color: #0D39AB;
    }
  tr td{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 300;
    color: #0a0b0d;
  }
  .d-flex{
    font-family: 'Montserrat';
    label{
      color: #0D39AB;
      font-size: 16px;
      font-weight: 400;
    }
    .text-large{
      font-weight: 600;
      font-size: 17px ;
    }
  }
}
.advantages>h1{
  color: #212121;
  font-family: 'Montserrat';
  font-weight: 400;
}
.advantages h5{
  color: #0D39AB;
  font-size: 24px;
  font-family: 'Montserrat SemiBold';
  font-weight: bolder;
}
.advantages .text-muted{
  color: #212121 !important;
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: 300;
}
.works__box> h3{
  color: #0D39AB;
  color: #0D39AB;
  text-transform: uppercase;
  font-family: 'Montserrat SemiBold';
}
.good-promo .good-specific .works__box {
    background-color: #EFF4FF;
}

.footer.bg-white .footer-link {
  color: #0D39AB;
  font-family: 'Montserrat Medium';
}
.footer.bg-white {
  color: #a3a4a6 ;
  font-family: 'Montserrat Medium';
}
.stepper{
  display: inline-block;
  max-width: 120px;
  width: 100%;
  position: relative;
  button {
    border-radius: 3px;
  }
}

.stepper__input{
  width: 100%;
  height: 30px;
  padding: .375rem .75rem;
  border: 1px solid #c4c4c4;
  -moz-appearance: textfield;
}

.stepper__input:focus{
  color: #333;
  background-color: #fff;
  border-color: #c4c4c4;
  outline: 0;
}

.stepper__input::-webkit-inner-spin-button,
.stepper__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.stepper__controls{
}

.stepper__controls [spinner-button="up"],
.stepper__controls [spinner-button="down"]{
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0;
  outline: none;
  border: 1px solid #c4c4c4;
  background-color: #fff;
  height: 50%;
  font-size: 1.375em;
  line-height: 0;
  transition: all ease 0.25s;
}
.stepper__controls [spinner-button="up"]:hover,
.stepper__controls [spinner-button="down"]:hover {
  background-color: #2353CD;
  border-color: #333;
  color: #fff;
}
.stepper--style-2{
  max-width: 120px;
}
.stepper--style-2 .stepper__input{
  padding-left: 3.25rem;
  padding-right: 3.25rem;
  text-align: center;
}
.stepper--style-2 [spinner-button="up"],
.stepper--style-2 [spinner-button="down"] {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: -1px;
  width: 2.5rem;
  z-index: 1;
}
.stepper--style-2 [spinner-button="up"] {
  right: 0;
  margin-left: -1px;
}
.stepper--style-2 [spinner-button="down"] {
  left: 0;
  margin-right: -1px;
}









  @font-face{
    font-family: "Montserrat Medium";
    src: url("assets/vendor/fonts/Montserrat_Medium.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  @font-face{
    font-family: "Montserrat SemiBold";
    src: url("assets/vendor/fonts/Montserrat_SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  @font-face{
    font-family: "AmaticSC";
    src: url("assets/vendor/fonts/AmaticSC.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  @font-face{
    font-family: "Montserrat Light";
    src: url("assets/vendor/fonts/Montserrat_Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  @font-face{
    font-family: "Montserrat Bold";
    src: url("assets/vendor/fonts/Montserrat_Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
@font-face{
  font-family: "Montserrat";
  src: url("assets/vendor/fonts/Montserrat.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}