* {
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em auto;
  width: 90%;
}
header .logo {
  width: 10%;
}
header nav {
  align-items: center;
  width: 50%;
  display: flex;
  justify-content: center;
}
header nav a {
  color: #000;
}
header nav a:hover {
  color: #004b9a;
}
header nav ul {
  margin: 0;
}
header nav li {
  display: inline-block;
  font-family: "Roboto Medium";
  margin-right: 2em;
}
header nav .dropdown-toggle:after {
  border: none;
  content: url("images/pointer.png");
  border: 0;
}
header nav .dropdown-toggle:hover {
  color: #004b9a;
}
header nav .dropdown-menu {
  border: none;
  max-width: 250px;
  background-color: #ededed;
  border-radius: 0;
}
header nav .dropdown-item {
  white-space: pre-wrap;
  font-family: "Roboto Medium";
  margin-right: 2.5em;
}
header nav .dropdown-item:hover {
  background-color: inherit;
}
header nav .dropdown-item:hover {
  color: #004b9a;
}
header .call-block {
  display: flex;
  justify-content: space-around;
  width: 40%;
  font-family: "Roboto Medium";
  flex-direction: row;
  align-items: center;
}
header .call-block .phone-logo {
  background: url("images/phone-logo.png") no-repeat center left;
  font-size: 1.1em;
  font-weight: 500;
  margin-right: 1.5em;
  text-align: left;
  padding-left: 1.5em;
  color: #ffffff;
}
header .call-block button {
  color: #ffffff;
  font-family: "Roboto Regular";
  font-size: 1em;
  padding: 1em;
  margin: 0;
  background-color: #cd3a0d;
  border-radius: 5px;
  border: none;
}
header .call-block button:hover {
  background-color: #af320c;
}

.advantages {
  width: 80%;
  display: flex;
  background-color: #ffffff;
  flex-direction: row;
  margin: 40% 10% 0 10%;
  position: absolute;
  z-index: 20;
}
.advantages ul {
  margin: 4%;
  justify-content: space-around;
}
.advantages li {
  margin: 0 auto;
  display: inline-flex;
  flex-direction: row;
  width: 33%;
}
.advantages li img {
  display: flex;
  margin: auto 7% auto 0;
  height: 100%;
}
.advantages li .advantages-description {
  width: 75%;
}
.advantages li .advantages-description h4 {
  font-family: "Roboto Medium";
  font-size: 1.3em;
}
.advantages li .advantages-description p {
  font-family: "Myriad Pro Regular";
  font-size: 1em;
  color: #8b8b8b;
}

.promo {
  z-index: 1;
  display: flex;
  flex-direction: row;
}
.promo .right-promo {
  width: 43%;
}
.promo .right-promo .dog {
  background-color: #004b9a;
  height: 40%;
  box-shadow: -20px 20px 70px rgba(0, 0, 0, 0.5);
  z-index: 5;
  position: relative;
}
.promo .right-promo .dog-block {
  background: url("images/dog.png") no-repeat;
  background-size: 100% 100%;
  height: 100%;
  position: absolute;
  top: 13%;
  width: 100%;
}
.promo .right-promo .video {
  background-color: #ffffff;
  height: 60%;
  z-index: 1;
}
.promo .right-promo .video h2 {
  margin: 25% 10% 0 20%;
  font-family: "Oswald Medium";
  font-size: 3em;
  position: relative;
  z-index: 2;
}
.promo .right-promo .video h2:before {
  content: url("images/rektangle.png");
  top: 70%;
  left: 0;
  position: absolute;
  z-index: -1;
}
.promo .right-promo .video .video-block {
  display: flex;
  justify-content: center;
  margin-top: 50%;
  position: relative;
}
.promo .right-promo .video .video-block:hover {
  cursor: pointer;
}
.promo .right-promo iframe {
  width: 100%;
  height: 315px;
  display: flex;
  margin: auto auto;
}
.promo .left-promo {
  width: 60%;
  background-color: #ededed;
  height: 60%;
}
.promo .left-promo .preview {
  margin: 30% 0 0 18%;
}
.promo .left-promo h2 {
  font-family: "Roboto Regular";
  font-size: 1.5em;
}
.promo .left-promo h1 {
  font-family: "Oswald Medium";
  font-size: 3em;
}
.promo .left-promo p {
  margin: 65% 20% 18% 20%;
  font-family: "Roboto Regular";
  font-size: 1.2em;
}
.promo .left-promo .locations {
  height: 770px;
  background-color: #004b9a;
  position: relative;
}
.promo .left-promo .locations .locations-block {
  top: -8%;
  position: absolute;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 10% 0 10%;
}
.promo .left-promo .location {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.promo .left-promo .location img {
  border: 1px solid #ffffff;
  max-height: 160px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.promo .left-promo .location p {
  margin: 3% 0 5% 0;
  color: #ffffff;
  font-family: "Roboto Regular";
  font-size: 1em;
}
.promo .left-promo .location-baggage {
  width: 100%;
}

.services {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
}
.services .services-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5% auto 0 auto;
  width: 80%;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.services .services-block .service {
  z-index: 2;
  width: 31%;
  margin-bottom: 3%;
  position: relative;
}
.services .services-block .service p {
  position: absolute;
  top: 10%;
  left: 0;
  padding: 3% 7%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-family: "Oswald Medium";
  font-size: 1.2em;
  width: 90%;
}
.services .services-block .service img {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.services .services-block .service:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition-duration: 0.5s;
}
.services .services-block .left-text {
  color: #d2d4d7;
  font-family: "Oswald Medium";
  position: absolute;
  font-size: 10em;
  margin-top: 10%;
  left: -17%;
  transform: rotate(270deg);
  z-index: 1;
}

.partners {
  width: 100%;
  margin: 5% auto 5% auto;
}
.partners hr {
  color: #cccccc;
  size: 1px;
}
.partners h1 {
  font-family: "Oswald Medium";
  font-size: 2em;
  margin: 0 0 5% 10%;
}
.partners .carousel-control-next-icon {
  background-image: url("images/carousel-next.png");
  height: 2em;
}
.partners .carousel-control-prev-icon {
  background-image: url("images/carousel-prew.png");
  height: 2em;
}
.partners .carousel-item img {
  width: 80%;
  height: 70%;
  margin: auto auto;
}
.partners .carousel-item .col-3 {
  padding: 20px;
}
.partners .carousel-inner {
  width: 80% !important;
  margin: 0 auto;
}
.partners .carousel-inner .carousel-item.active, .partners .carousel-inner .carousel-item-next, .partners .carousel-inner .carousel-item-prev {
  display: flex;
}
.partners .carousel-inner .carousel-item-right.active, .partners .carousel-inner .carousel-item-next {
  transform: translateX(25%);
}
.partners .carousel-inner .carousel-item-left.active, .partners .carousel-inner .carousel-item-prev {
  transform: translateX(-25%);
}
.partners .carousel-inner .carousel-item-right, .partners .carousel-inner .carousel-item-left {
  transform: translateX(0);
}

.footer {
  background-color: #ebebeb;
  width: 100%;
  padding: 5% 10% 2% 10%;
}
.footer .footer-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer .footer-nav {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.footer .footer-nav nav {
  width: 100%;
  margin-bottom: 5%;
  margin-left: 0;
  display: block;
}
.footer .footer-nav nav a {
  color: #000;
}
.footer .footer-nav nav a:hover {
  color: #004b9a;
}
.footer .footer-nav nav ul {
  margin: 0;
}
.footer .footer-nav nav li {
  display: inline-block;
  font-family: "Roboto Regular";
  margin-right: 1em;
  font-size: 1.5em;
}
.footer .footer-nav img {
  width: 81px;
  height: 65px;
}
.footer .footer-nav .social {
  margin: 5% 0;
}
.footer .footer-nav .social li {
  display: inline-block;
  margin-right: 5%;
}
.footer .footer-nav .social img {
  width: 100%;
  height: 100%;
}
.footer .contacts {
  width: 40%;
  float: right;
  flex-direction: column;
  font-family: "Roboto Regular";
  font-size: 1.3em;
  color: #4f4f4f;
}
.footer .contacts p:nth-child(2) {
  margin-bottom: 0;
}

@media screen and (max-device-width: 640px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
  }
  header .logo {
    width: 100%;
    margin: 0 auto 10% auto;
    transform: scale(1.5);
  }
  header nav {
    width: 100%;
    font-size: 2em;
    margin-bottom: 4%;
  }
  header .call-block {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.5em;
  }
  header .call-block .phone-logo {
    display: block;
    color: black;
  }

  .advantages {
    width: 100%;
    margin: 60% 0 0 0;
  }
  .advantages ul {
    justify-content: center;
    flex-wrap: wrap;
  }
  .advantages ul li {
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
  }
  .advantages ul li .advantages-description {
    text-align: center;
    width: 100%;
    font-size: 3em;
  }
  .advantages ul li img {
    transform: scale(1.9);
    margin: 0 auto 5% auto;
  }

  .promo {
    flex-wrap: wrap;
  }
  .promo .right-promo {
    width: 100%;
  }
  .promo .right-promo .dog {
    display: none;
  }
  .promo .right-promo .video {
    height: 100%;
  }
  .promo .right-promo .video h2 {
    margin: 5% 10% 0 20%;
    font-size: 4em;
  }
  .promo .right-promo .video .video-block {
    margin-top: 5%;
  }
  .promo .left-promo {
    width: 100%;
  }
  .promo .left-promo .preview {
    margin: 30% 0 0 0;
  }
  .promo .left-promo h2 {
    font-size: 3em;
    text-align: center;
  }
  .promo .left-promo h1 {
    font-size: 5em;
    text-align: center;
  }
  .promo .left-promo .locations {
    height: 1050px;
  }
  .promo .left-promo .locations .locations-block {
    top: 200px;
  }
  .promo .left-promo .locations .locations-block .location {
    font-size: 1.5em;
  }

  .services {
    width: 90%;
    margin: 0 auto;
  }
  .services .services-block {
    width: 90%;
  }
  .services .services-block .service {
    width: 90%;
    margin: 0 auto 5% auto;
  }
  .services .services-block .service p {
    font-size: 3em;
  }
  .services .services-block .left-text {
    left: -25%;
  }

  .footer {
    padding: 5%;
  }
  .footer .footer-block {
    flex-wrap: wrap;
  }
  .footer .footer-block .footer-nav {
    width: 100%;
  }
  .footer .footer-block .footer-nav .zakupki {
    margin: 0 auto;
  }
  .footer .footer-block .footer-nav ul {
    width: 80%;
    margin: 0 auto;
  }
  .footer .footer-block .footer-nav li {
    font-size: 2.5em;
  }
  .footer .footer-block .footer-nav .social {
    display: flex;
    justify-content: center;
    margin: 3% auto;
  }
  .footer .footer-block .footer-nav .social li {
    margin-right: 5%;
  }
  .footer .footer-block .footer-nav .social img {
    transform: scale(1.4);
  }
  .footer .footer-block .contacts {
    width: 100%;
    font-size: 2em;
  }
}
@media screen and (max-width: 1200px) and (min-width: 641px) {
  .advantages ul {
    align-items: flex-start;
  }
  .advantages ul li {
    width: 30%;
    margin: 0;
    align-items: flex-start;
  }
  .advantages ul li img {
    margin: auto auto;
  }
}
@font-face {
  font-family: "Roboto Medium";
  src: url("fonts/Roboto Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("fonts/Roboto Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Oswald Medium";
  src: url("fonts/Oswald Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Myriad Pro Regular";
  src: url("fonts/Myriad Pro Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*# sourceMappingURL=style.css.map */
